<merchant-top-part></merchant-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <merchant-side-nav></merchant-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">{{ "BAZZAR.ORDERS" | translate }}</div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="text-center bg-light2">
            <th>
              {{ "BAZZAR.USER" | translate }}
            </th>
            <!-- <th>
              {{ "BAZZAR.ITEMS" | translate }}
            </th> -->
            <th>
              {{ "BAZZAR.DATE" | translate }}
            </th>
            <!-- <th>
              {{ "BAZZAR.PAYMENT_METHOD" | translate }}
            </th> -->
            <th>
              {{ "BAZZAR.TOTAL" | translate }}
            </th>
            <th>
              {{ "BAZZAR.STATUS" | translate }}
            </th>
            <th>
              {{ "BAZZAR.OPTIONS" | translate }}
            </th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let order of orders">
              <td>{{ order.user.username }}</td>

              <td>{{ order.dateAndTime | date }}</td>
              <!-- <td>{{ order.paymentMethod }}</td> -->
              <td>{{ order.total }} {{ "BAZZAR.SAR" | translate }}</td>
              <td>
                <div class="row mx-auto text-center justifiy-content-center">
                  <img
                    src="../../../assets/to-do.svg"
                    height="25"
                    width="auto"
                    class="px-2"
                    [popoverOnHover]="false"
                    [popover]="myPopover"
                  />

                  <popover-content
                    #myPopover
                    placement="top"
                    [animation]="true"
                    class="arabic-dir"
                    [closeOnClickOutside]="true"
                  >
                    <ul
                      class="no-bullets text-left arabic-dir"
                      style="list-style: none"
                    >
                      <li class="arabic-dir">
                        <a
                          (click)="changeOrderStatus('PROCCESSING', order.id)"
                          *ngIf="order.orderStatus == 'PENDING'"
                          class="nav-link text-dark"
                        >
                          <i
                            class="fa fa-forward text-primary mx-1"
                            aria-hidden="true"
                          ></i>

                          {{ "BAZZAR.PROCESSING" | translate }}</a
                        >

                        <a
                          (click)="changeOrderStatus('SHIPPED', order.id)"
                          *ngIf="order.orderStatus == 'PROCCESSING'"
                          class="nav-link text-dark"
                        >
                          <i
                            class="fa fa-forward text-primary mx-1"
                            aria-hidden="true"
                          ></i>

                          {{ "BAZZAR.SHIPPED" | translate }}</a
                        >

                        <a
                          (click)="changeOrderStatus('DELIVERED', order.id)"
                          *ngIf="order.orderStatus == 'SHIPPED'"
                          class="nav-link text-dark"
                        >
                          <i
                            class="fa fa-forward text-primary mx-1"
                            aria-hidden="true"
                          ></i>

                          {{ "BAZZAR.DELIVERED" | translate }}</a
                        >

                        <a
                          *ngIf="order.orderStatus == 'DELIVERED'"
                          class="nav-link text-dark"
                        >
                          <!-- <i
                            class="fa fa-forward text-primary mx-1"
                            aria-hidden="true"
                          ></i>

                          {{ "BAZZAR.DELIVERED" | translate }}-->
                        </a>
                      </li>

                      <li>
                        <a href="" class="nav-link text-dark">
                          <i
                            class="fa fa-times-circle-o text-danger mx-1"
                            aria-hidden="true"
                          ></i>

                          {{ "BAZZAR.CANCEL" | translate }}</a
                        >
                      </li>
                    </ul>
                  </popover-content>
                  <div class="my-auto">
                    <span *ngIf="order.orderStatus == 'PENDING'"
                      >{{ "BAZZAR.PENDING" | translate }}
                    </span>
                    <span *ngIf="order.orderStatus == 'PROCCESSING'"
                      >{{ "BAZZAR.PROCESSING" | translate }}
                    </span>
                    <span *ngIf="order.orderStatus == 'DELIVERED'"
                      >{{ "BAZZAR.DELIVERED" | translate }}
                    </span>
                    <span *ngIf="order.orderStatus == 'SHIPPED'"
                      >{{ "BAZZAR.SHIPPED" | translate }}
                    </span>
                    <span *ngIf="order.orderStatus == 'CANCELED_BY_MERCHANT'"
                      >{{ "BAZZAR.CANCELED_BY_MERCHANT" | translate }}
                    </span>
                  </div>
                  <!-- <a
                    class=""
                    (click)="changeOrderStatus('PROCCESSING', order.id)"
                    *ngIf="order.orderStatus == 'PENDING'"
                  >
                    {{ "BAZZAR.PENDING" | translate }}
                  </a> -->
                  <!-- <a
                    class=""
                    (click)="changeOrderStatus('DELIVERED', order.id)"
                    *ngIf="order.orderStatus == 'PROCCESSING'"
                  >
                    {{ "BAZZAR.PROCCESSING" | translate }}
                  </a>
                  <a
                    class=""
                    (click)="changeOrderStatus('SHIPPED', order.id)"
                    *ngIf="order.orderStatus == 'DELIVERED'"
                  >
                    {{ "BAZZAR.DELIVERED" | translate }}
                  </a>
                  <a
                    class=""
                    (click)="
                      changeOrderStatus('CANCELED_BY_MERCHANT', order.id)
                    "
                    *ngIf="order.orderStatus == 'SHIPPED'"
                  >
                    {{ "BAZZAR.SHIPPED" | translate }}
                  </a>
                  <a
                    class=""
                    (click)="
                      changeOrderStatus('CANCELED_BY_MERCHANT', order.id)
                    "
                    *ngIf="order.orderStatus == 'CANCELED_BY_MERCHANT'"
                  >
                    {{ "BAZZAR.CANCELED_BY_MERCHANT" | translate }}
                  </a> -->
                </div>
              </td>
              <td class="mt-2">
                <button
                  *ngIf="order.id != showenOrderId"
                  type="button"
                  class="btn btn-sm btn-outline-success"
                  (click)="showItems(order)"
                >
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="order.id == showenOrderId"
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  (click)="unshowItems(0)"
                >
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </button>
                <a
                  class="btn btn-outline-success btn-sm mx-2 mt-lg-0 mt-2"
                  routerLink="/view-order"
                  [queryParams]="{ id: order.id }"
                  ><i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showOrderProducts" class="mb-4 pt-3 table-responsive">
        <table class="table table-bordered bg-light">
          <thead class="text-center">
            <th>
              {{ "BAZZAR.TITLE" | translate }}
            </th>

            <th>
              {{ "BAZZAR.PRICE" | translate }}
            </th>
            <th>
              {{ "BAZZAR.QUANTITY" | translate }}
            </th>
            <th>
              {{ "BAZZAR.TOTAL" | translate }}
            </th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let product of selectedOrderProducts">
              <td>{{ product.product.titleEnglish }}</td>

              <td>{{ product.product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                {{ product.quantity * product.product.price }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
