<merchant-top-part></merchant-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0">
    <div class="col-md-3 border px-0 rounded h-100">
      <merchant-side-nav></merchant-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3">{{ "BAZZAR.WARDROBE" | translate }}</div>
      <div class="border px-md-4 p-3 rounded">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="text-center">
              <th>
                {{ "BAZZAR.USER" | translate }}
              </th>
              <th>
                {{ "BAZZAR.ITEMS" | translate }}
              </th>
              <th>
                {{ "BAZZAR.DATE" | translate }}
              </th>
              <th>
                {{ "BAZZAR.PAYMENT_METHOD" | translate }}
              </th>
              <th>
                {{ "BAZZAR.TOTAL" | translate }}
              </th>
              <th>
                {{ "BAZZAR.STATUS" | translate }}
              </th>
              <th>
                {{ "BAZZAR.OPTIONS" | translate }}
              </th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let order of orders">
                <td>{{ order.user.username }}</td>
                <td>
                  <button
                    *ngIf="order.id != showenOrderId"
                    type="button"
                    class="btn btn-primary"
                    (click)="showItems(order)"
                  >
                    {{ "BAZZAR.VIEW_ITEMS" | translate }}
                  </button>
                  <button
                    *ngIf="order.id == showenOrderId"
                    type="button"
                    class="btn btn-primary"
                    (click)="unshowItems(0)"
                  >
                    {{ "BAZZAR.HIDE_ITEMS" | translate }}
                  </button>
                </td>
                <td>{{ order.dateAndTime | date }}</td>
                <td>{{ order.paymentMethod }}</td>
                <td>{{ order.total }} {{ "BAZZAR.SAR" | translate }}</td>
                <td>
                  <div class="col-auto my-1">
                    <select
                      class="custom-select mr-sm-2"
                      id="orderStatus"
                      (change)="
                        changeOrderStatus($event.target.value, order.id)
                      "
                    >
                      <option>{{ "BAZZAR.CHOOSE" | translate }}...</option>
                      <option
                        *ngIf="order.orderStatus == 'PENDING'"
                        value="PENDING"
                        class="py-5"
                        selected
                      >
                        {{ "BAZZAR.PENDING" | translate }}
                      </option>
                      <option
                        *ngIf="order.orderStatus != 'PENDING'"
                        value="PENDING"
                        class="py-5"
                      >
                        {{ "BAZZAR.PENDING" | translate }}
                      </option>
                      <option
                        *ngIf="order.orderStatus == 'PROCCESSING'"
                        selected
                        value="PROCCESSING"
                      >
                        {{ "BAZZAR.PROCESSING" | translate }}
                      </option>
                      <option
                        *ngIf="order.orderStatus != 'PROCCESSING'"
                        value="PROCCESSING"
                      >
                        {{ "BAZZAR.PROCESSING" | translate }}
                      </option>
                      <option
                        value="SHIPPED"
                        *ngIf="order.orderStatus == 'SHIPPED'"
                        selected
                      >
                        {{ "BAZZAR.SHIPPED" | translate }}
                      </option>
                      <option
                        value="SHIPPED"
                        *ngIf="order.orderStatus != 'SHIPPED'"
                      >
                        {{ "BAZZAR.SHIPPED" | translate }}
                      </option>
                      <option
                        value="DELIVERED"
                        *ngIf="order.orderStatus == 'DELIVERED'"
                        selected
                      >
                        {{ "BAZZAR.DELIVERED" | translate }}
                      </option>
                      <option
                        value="DELIVERED"
                        *ngIf="order.orderStatus != 'DELIVERED'"
                      >
                        {{ "BAZZAR.DELIVERED" | translate }}
                      </option>
                      <option
                        value="CANCELED_BY_MERCHANT"
                        *ngIf="order.orderStatus == 'CANCELED_BY_MERCHANT'"
                        selected
                      >
                        {{ "BAZZAR.CANCELED_BY_MERCHANT" | translate }}
                      </option>
                      <option
                        value="CANCELED_BY_MERCHANT"
                        *ngIf="order.orderStatus != 'CANCELED_BY_MERCHANT'"
                      >
                        {{ "BAZZAR.CANCELED_BY_MERCHANT" | translate }}
                      </option>
                    </select>
                  </div>
                </td>
                <td class="mt-2">
                  <a
                    class="icon-view pr-2 col-md-4"
                    routerLink="/view-order"
                    [queryParams]="{ id: order.id }"
                    ><i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
