<div class="p-3 border-bottom side-nav" routerLink="/account-information">
  {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
</div>

<div class="p-3 border-bottom side-nav" routerLink="/products">
  {{ "BAZZAR.PRODUCTS" | translate }}
</div>

<div class="p-3 border-bottom side-nav" routerLink="/orders">
  {{ "BAZZAR.ORDERS" | translate }}
</div>
<div class="p-3 border-bottom side-nav" routerLink="/change-password">
  {{ "BAZZAR.ORDERS" | translate }}
</div>
<div class="p-3 border-bottom side-nav" routerLink="/change-password">
  {{ "BAZZAR.ORDERS" | translate }}
</div>

<div class="p-3 side-nav" routerLink="/wardrobes">
  {{ "BAZZAR.WARDROBES" | translate }}
</div>
