<div class="row mx-0 bg-primary arabic-dir top-footer">
  <div class="py-4 container">
    <div class="row mx-0">
      <div class="col-md-9 text-left">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo animi
          repudiandae beatae. Lorem ipsum dolor sit amet consectetur
          adipisicing.
        </p>
      </div>
      <div class="d-flex col-md-3 mt-3 mt-md-0 ml-md-auto px-0">
        <button class="btn text-white border my-auto p-3 mx-3 ml-md-auto">
          View Restaurants
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="footer arabic-dir">
  <div class="container">
    <div class="row mx-0">
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-left">
        <div class="img-title text-left">
          <a href=""><img src="../../assets/smile.png" alt="" height="50" /></a>
        </div>
        <p class="text-left pr-ar-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          interdum leo at finibus ornare.
        </p>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 text-left">
        <div class="link-title">
          <h4>useful links</h4>
          <ul class="links text-left pr-ar-0">
            <li><a href="">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Mobile Apps</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-left">
        <div class="link-title">
          <h4>useful links</h4>
          <ul class="links text-left pr-ar-0">
            <li><a href="#">Add a Restaurant</a></li>
            <li><a href="#">Buniess Order Guidelines</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Book</a></li>
            <li><a href="#">Trace</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-left">
        <div class="link-title">
          <h4>useful links</h4>

          <div class="social-btns">
            <a href="#"
              ><div class="social-btn soc-btn">
                <i class="fa fa-facebook-f"></i></div
            ></a>
            <a href="#"
              ><div class="social-btn soc-btn">
                <i class="fa fa-twitter"></i></div
            ></a>
            <a href="#"
              ><div class="social-btn soc-btn">
                <i class="fa fa-instagram"></i></div
            ></a>
            <a href="#"
              ><div class="social-btn soc-btn">
                <i class="fa fa-linkedin"></i></div
            ></a>
            <a href="#"
              ><div class="social-btn soc-btn">
                <i class="fa fa-youtube"></i></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="privacy-cards">
    <div class="container">
      <div class="row mx-0 text-left">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="privacy-terms">
            <ul>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="cards">
            <img src="#" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright-text">
            <i class="fa fa-copyright"></i>Copyright 2021 by me. All Rights
            Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
