<merchant-top-part></merchant-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <merchant-side-nav></merchant-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">{{ "BAZZAR.PRODUCTS" | translate }}</div>
      <div class="border px-md-4 p-3 rounded" id="accordion">
        <div
          class="card-header border"
          id="headingOne"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <h5 class="mb-0">
            <button class="btn text-primary">Add Product</button>
          </h5>
        </div>
        <form
          [formGroup]="productForm"
          id="dirForm"
          id="collapseOne"
          data-parent="#accordion"
          class="collapse"
          aria-labelledby="headingOne"
        >
          <div class="row mx-0 mt-4">
            <div class="form-group col-md-6 px-0">
              <label>{{ "BAZZAR.TITLE_ENGLISH" | translate }}</label>
              <input
                required
                type="text"
                class="form-control"
                formControlName="titleEnglish"
                maxlength="100"
              />
              <mat-error
                *ngIf="
                  productForm.controls.titleEnglish.errors?.required &&
                  productForm.controls.titleEnglish.touched
                "
              >
                {{ "BAZZAR.REQUIRED" | translate }}
              </mat-error>
              <mat-error
                *ngIf="productForm.controls.titleEnglish.hasError('maxlength')"
              >
                {{ "BAZZAR.100_LENGTH" | translate }}
              </mat-error>
            </div>
            <div class="form-group col-md-6 px-0 p-lang">
              <label for="exampleInputEmail1">
                {{ "BAZZAR.TITLE_ARABIC" | translate }}</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="titleArabic"
                required
                maxlength="100"
              />
              <mat-error
                *ngIf="
                  productForm.controls.titleArabic.hasError('invalidLetters')
                "
              >
                {{ "BAZZAR.USE_ARABIC_LETTERS" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  productForm.controls.titleArabic.errors?.required &&
                  productForm.controls.titleArabic.touched
                "
              >
                {{ "BAZZAR.REQUIRED" | translate }}
              </mat-error>
              <mat-error
                *ngIf="productForm.controls.titleArabic.hasError('maxlength')"
              >
                {{ "BAZZAR.100_LENGTH" | translate }}
              </mat-error>
            </div>
          </div>
          <div class="col-md-12 pb-4 text-left px-0">
            <div class="mb-2">
              {{ "BAZZAR.IMAGE" | translate }}
            </div>
            <div class="custom-file">
              <div *ngIf="imageValue != ''" style="position: relative">
                <img
                  [src]="getImageSrc(imageValue)"
                  alt=""
                  width="100px"
                  height="100px"
                  required
                  class="border p-2"
                  style="margin-bottom: 84px !important"
                />
                <i
                  class="fa fa-times-circle text-danger"
                  (click)="uploadFileClicked()"
                  style="position: absolute; right: 0"
                ></i>
              </div>
              <span *ngIf="imageValue === ''">
                <br />
                <input
                  type="file"
                  class="custom-file-input"
                  formControlName="image"
                  accept="image/*"
                  required
                  id="file-uploader"
                  (change)="uploadImage($event)"
                />

                <label class="custom-file-label"></label>
              </span>
            </div>
            <mat-error
              *ngIf="
                productForm.controls.image.errors?.required &&
                productForm.controls.image.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>

          <div class="form-group col-md-6 px-0">
            <label for="exampleInputPassword1">
              {{ "BAZZAR.DESCRIPTION_ENGLISH" | translate }}
            </label>
            <textarea
              type="text"
              required
              formControlName="descriptionEnglish"
              class="form-control"
              maxlength="250"
            ></textarea>
            <mat-error
              *ngIf="
                productForm.controls.descriptionEnglish.errors?.required &&
                productForm.controls.descriptionEnglish.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>
          <div class="form-group col-md-6 p-lang px-0">
            <label> {{ "BAZZAR.DESCRIPTION_ARABIC" | translate }} </label>
            <textarea
              type="text"
              formControlName="descriptionArabic"
              class="form-control"
              maxlength="250"
              required
            ></textarea>
            <mat-error
              *ngIf="
                productForm.controls.descriptionArabic.hasError(
                  'invalidLetters'
                )
              "
            >
              {{ "BAZZAR.USE_ARABIC_LETTERS" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                productForm.controls.descriptionArabic.errors?.required &&
                productForm.controls.descriptionArabic.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>
          <div class="form-group col-md-12 px-0">
            <label> {{ "BAZZAR.DELIVERY_DESCRIPTION" | translate }} </label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="deliveryDescription"
            />
            <mat-error
              *ngIf="
                productForm.controls.deliveryDescription.errors?.required &&
                productForm.controls.deliveryDescription.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>
          <div class="form-group col-md-8 px-0">
            <label> {{ "BAZZAR.MAIN_WORDROBE" | translate }} </label>
            <select
              name="main_wardrobe"
              id="main_wardrobe"
              class="form-control"
              formControlName="category"
            >
              <option *ngFor="let wardrobe of wardrobes" [value]="wardrobe.id">
                <span *ngIf="service.lang === 'en'">{{
                  wardrobe.titleEnglish
                }}</span>
                <span *ngIf="service.lang === 'ar'">{{
                  wardrobe.titleArabic
                }}</span>
              </option>
            </select>
            <mat-error
              *ngIf="
                productForm.controls.category.errors?.required &&
                productForm.controls.category.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>

          <div class="form-group col-md-4 px-0 p-lang">
            <label> {{ "BAZZAR.PRICE" | translate }} </label>
            <input
              type="number"
              class="form-control"
              formControlName="price"
              min="0"
            />
            <mat-error
              *ngIf="
                productForm.controls.price.errors?.required &&
                productForm.controls.price.touched
              "
            >
              {{ "BAZZAR.REQUIRED" | translate }}
            </mat-error>
          </div>
          <div class="text-left">
            <button
              type="submit"
              class="btn btn-primary px-5"
              (click)="addProduct()"
            >
              {{ "BAZZAR.ADD" | translate }}
            </button>
          </div>
        </form>
        <div class="mt-5 table-responsive">
          <table class="table table-bordered">
            <thead class="text-dark text-center bg-light2">
              <th>
                {{ "BAZZAR.TITLE_ENGLISH" | translate }}
              </th>
              <th>
                {{ "BAZZAR.TITLE_ARABIC" | translate }}
              </th>

              <th>
                {{ "BAZZAR.OPTIONS" | translate }}
              </th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let product of products">
                <td>{{ product.titleEnglish }}</td>
                <td>{{ product.titleArabic }}</td>
                <td class="mt-2 text-center">
                  <div class="row mx-0 justifiy-content-center">
                    <a
                      class="icon-view col-md-4 t-media-12"
                      [routerLink]="['/view-product']"
                      [queryParams]="{ id: product.id }"
                      ><i class="fa fa-eye text-success" aria-hidden="true"></i>
                    </a>
                    <a
                      class="icon-edit col-md-4 t-media-12"
                      (click)="openDialogEditProduct(product)"
                    >
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a
                      class="icon-danger col-md-4 t-media-12 text-center"
                      (click)="deleteProduct(product.id)"
                      ><i
                        class="fa fa-trash-o text-danger"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="w-100 text-center" *ngIf="products.length == 0">
            <h3>{{ "BAZZAR.NO_RECORDS" | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
