<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">My Account</div>
      <div class="bread my-auto">
        Home / <span routerLink="/all-shops" class="primary">My Account</span>
      </div>
    </div>
  </div>
</div>
<div class="">
  <img src="../../assets/profilePic.jpg" alt="" width="100%" height="auto" />
  <div class="bg-light2 py-3">
    <div class="container my-2">
      <div class="h6">Username</div>
    </div>
  </div>
</div>
