<div class="bg-light2 arabic-dir">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir t-smaller">
      <div class="h5 text-left my-auto t-smaller">
        {{ "BAZZAR.MY_ACCOUNT" | translate }}
      </div>
      <div class="bread my-auto t-smaller">
        <a routerLink="/" class="text-dark"> {{ "BAZZAR.HOME" | translate }}</a>
        /
        <a routerLink="/my-account" class="primary t-smaller">
          {{ "BAZZAR.MY_ACCOUNT" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
<div class="arabic-dir">
  <img src="../../assets/profilePic.jpg" alt="" width="100%" height="auto" />
  <div class="bg-light2 py-3">
    <div class="container my-2">
      <div class="h6 text-left">{{ username }}</div>
    </div>
  </div>
</div>
