<div class="p-3 border-bottom side-nav text-left" routerLink="/my-account">
  {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
</div>
<div class="p-3 border-bottom side-nav text-left" routerLink="/saved-address">
  {{ "BAZZAR.SAVED_ADDRESSES" | translate }}
</div>
<div class="p-3 border-bottom side-nav text-left" routerLink="/my-orders">
  {{ "BAZZAR.MY_ORDERS" | translate }}
</div>

<div class="p-3 side-nav text-left" routerLink="/change-password">
  {{ "BAZZAR.CHANGE_PASSWORD_SMALL" | translate }}
</div>
