<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir t-smaller">
      <div class="h5 text-left my-auto t-smaller" routerLink="/all-shops">
        {{ "BAZZAR.ALL_SHOPS" | translate }}
      </div>
      <div class="bread my-auto t-smaller">
        <a routerLink="/" class="text-dark"> {{ "BAZZAR.HOME" | translate }}</a>
        /
        <a routerLink="/all-shops" class="primary t-smaller">
          {{ "BAZZAR.ALL_SHOPS" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 arabic-dir">
  <div class="row mx-0">
    <div
      class="col-lg-3 col-md-4 border p-0 sticky-top mb-5"
      style="height: fit-content"
    >
      <div class="border-bottom h5 p-3 text-left">
        {{ "BAZZAR.FILTER" | translate }}
      </div>
      <form action="" class="p-3">
        <div class="form-group">
          <label class="small"> {{ "BAZZAR.CITY" | translate }} </label>
          <select class="form-control" id="city">
            <option value="">{{ "BAZZAR.ALL" | translate }}</option>
            <option *ngFor="let city of cities">
              <span *ngIf="service.lang == 'ar'">{{ city.city }}</span>
              <span *ngIf="service.lang == 'en'">{{ city.city }}</span>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="small"> {{ "BAZZAR.CATEGORY" | translate }} </label>
          <select class="form-control" id="tag">
            <option value="all">{{ "BAZZAR.ALL" | translate }}</option>
            <option *ngFor="let tag of tags" [value]="tag.id">
              <span *ngIf="service.lang == 'ar'">{{ tag.nameArabic }}</span>
              <span *ngIf="service.lang == 'en'">{{ tag.nameEnglish }}</span>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="" class="small">
            {{ "BAZZAR.MERCHANT_NAME" | translate }}
          </label>
          <input type="text" class="form-control" id="name" />
        </div>
        <button class="btn btn-main w-100 rounded-lg" (click)="search()">
          {{ "BAZZAR.SEARCH" | translate }}
        </button>
      </form>
    </div>
    <div class="col-lg-9 col-md-8 px-0 px-lg-3">
      <div class="row mx-0 px-0">
        <div *ngFor="let shop of shopsList" class="col-lg-6 px-md-3 px-0 mb-3">
          <shop-card-main [shop]="shop"></shop-card-main>
        </div>
      </div>

      <nav aria-label="Page navigation example " class="mt-4">
        <ul class="pagination justify-content-center">
          <li *ngIf="currentPage != 0" class="page-item">
            <a
              class="page-link primary"
              (click)="changePage(currentPage - 1)"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li *ngIf="currentPage == 0" class="page-item">
            <button class="page-link text-muted" aria-label="Previous" disabled>
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </button>
          </li>
          <li
            *ngFor="let number of pagesNumber"
            class="page-item"
            [ngClass]="{ myactive: number === currentPage + 1 }"
          >
            <a class="page-link text-dark" (click)="changePage(number - 1)">{{
              number
            }}</a>
          </li>

          <li *ngIf="currentPage != totalPages - 1" class="page-item">
            <a
              class="page-link primary"
              (click)="changePage(currentPage + 1)"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li *ngIf="currentPage == totalPages - 1" class="page-item">
            <button class="page-link text-muted" aria-label="Next" disabled>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
