<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto" routerLink="/all-shops">
        {{ "BAZZAR.ALL_SHOPS" | translate }}
      </div>
      <div class="bread my-auto">
        <span routerLink="/"> {{ "BAZZAR.HOME" | translate }}</span>
        /
        <span routerLink="/all-shops" class="primary">
          {{ "BAZZAR.ALL_SHOPS" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 arabic-dir">
  <div class="row mx-0">
    <div
      class="col-lg-3 col-md-4 border p-0 sticky-top mb-5"
      style="height: fit-content"
    >
      <div class="border-bottom h5 p-3">Filter</div>
      <form action="" class="p-3">
        <div class="form-group">
          <label class="small">City</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label class="small">Category</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="" class="small">Merchant name</label>
          <input type="text" class="form-control" />
        </div>
        <button class="btn btn-main w-100 rounded-lg">search</button>
      </form>
    </div>
    <div class="col-lg-9 col-md-8 px-0 px-lg-3">
      <div class="row mx-0 px-0">
        <div
          *ngFor="let shop of shopsList"
          class="col-lg-6 mx-auto px-md-3 px-0 mb-3"
        >
          <shop-card-main [shop]="shop"></shop-card-main>
        </div>
      </div>
    </div>
  </div>
</div>
