<div class="card p-0 text-center" (click)="goToMerchant(shop.id)">
  <img
    class="card-img-top w-100 p-0 m-0"
    [src]="getSource(shop.logo)"
    height="160"
    alt="Card image cap"
  />
  <div class="card-body py-2">
    <div class="card-title font-weight-bold">
      <span *ngIf="appService.lang == 'en'">{{ shop.titleEnglish }}</span>
      <span *ngIf="appService.lang == 'ar'">{{ shop.titleArabic }}</span>
    </div>
    <p class="card-text small text-left">
      <span *ngIf="appService.lang == 'en'">{{ shop.descriptionEnglish }}</span>
      <span *ngIf="appService.lang == 'ar'">{{ shop.descriptionArabic }}</span>
    </p>
    <!-- <div class="text-left small font-weight-bold">
      <i class="fa fa-truck" aria-hidden="true"></i> delivery cost :
    </div> -->
    <div class="text-left small font-weight-bold mt-2">
      <i class="fa fa-location" aria-hidden="true"></i>
      city :
      <span *ngIf="appService.lang == 'en'">{{ shop.city }}</span>
      <span *ngIf="appService.lang == 'ar'">{{ shop.city }}</span>
    </div>
    <div class="text-left row mx-0 mt-2">
      <ngb-rating
        [max]="5"
        [(rate)]="ratingsCount"
        [readonly]="true"
      ></ngb-rating>
      <div class="bg-primary rounded-lg h-50 px-2 mx-2 my-auto small">
        <span *ngIf="ratingsCount == 0">
          {{ "BAZZAR.NEW" | translate }}
        </span>
        <span *ngIf="ratingsCount != 0"> {{ shop.totalRatings }} </span>
      </div>
      <div class="ml-auto my-auto small">
        <i class="fa fa-comments" aria-hidden="true"></i> {{ ratingsCount }}
      </div>
    </div>
  </div>
</div>
