<merchant-top-part></merchant-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <merchant-side-nav></merchant-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">
        {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
      </div>
      <div class="border px-md-4 p-3 rounded">
        <form [formGroup]="merchantAccountForm" class="mt-2">
          <span *ngIf="edit == false">
            <div class="row mx-0">
              <div class="col-md-5 px-0">
                <div class="form-group">
                  <label
                    >{{ "BAZZAR.COMPANY" | translate }} ({{
                      "BAZZAR.DISABLED" | translate
                    }})
                  </label>
                  <input
                    disabled
                    type="text"
                    class="form-control"
                    formControlName="company"
                  />
                </div>
              </div>
              <div class="col-md-3 px-0 px-md-2">
                <div class="form-group">
                  <label> {{ "BAZZAR.USERNAME" | translate }}</label>

                  <input
                    formControlName="username"
                    type="text"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label for="exampleInputEmail1">{{
                    "BAZZAR.EMAIL" | translate
                  }}</label>

                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row mx-0">
              <div class="form-group col-md-6 px-0">
                <label>{{ "BAZZAR.PHONE_NUMBER1" | translate }}</label>
                <input
                  disabled
                  formControlName="phone1"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group col-md-6 px-0 px-md-1">
                <label>{{ "BAZZAR.PHONE_NUMBER2" | translate }}</label>
                <input
                  disabled
                  formControlName="phone2"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="row mx-0">
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label>{{ "BAZZAR.CITY" | translate }}</label>
                  <input
                    disabled
                    formControlName="city"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 px-0 px-md-2">
                <div class="form-group">
                  <label>{{ "BAZZAR.COUNTRY" | translate }}</label>
                  <input
                    disabled
                    formControlName="country"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label>{{ "BAZZAR.TAG" | translate }}</label>
                  <input disabled formControlName="tag" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "BAZZAR.DESCRIPTION_ENGLISH" | translate }}</label>
              <textarea
                class="form-control textarea"
                disabled
                formControlName="descriptionEnglish"
              >
              </textarea>
            </div>
            <div class="form-group">
              <label>{{ "BAZZAR.DESCRIPTION_ARABIC" | translate }}</label>
              <textarea
                class="form-control textarea"
                disabled
                formControlName="descriptionArabic"
              >
              </textarea>
            </div>

            <div class="text-left">
              <button
                type="submit"
                class="btn btn-primary px-5"
                (click)="changeTheEditMode()"
              >
                {{ "BAZZAR.EDIT" | translate }}
              </button>
            </div>
          </span>
          <span *ngIf="edit == true">
            <div class="row mx-0">
              <div class="col-md-5 px-0">
                <div class="form-group">
                  <label
                    >{{ "BAZZAR.COMPANY" | translate }} ({{
                      "BAZZAR.DISABLED" | translate
                    }})
                  </label>
                  <input
                    disabled
                    type="text"
                    class="form-control"
                    formControlName="company"
                  />
                </div>
              </div>
              <div class="col-md-3 px-0 px-md-2">
                <div class="form-group">
                  <label> {{ "BAZZAR.USERNAME" | translate }}</label>

                  <input
                    formControlName="username"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label for="exampleInputEmail1">{{
                    "BAZZAR.EMAIL" | translate
                  }}</label>

                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-md-6 px-0">
                <div class="form-group">
                  <label>{{ "BAZZAR.CONTACT_INFO_1" | translate }}</label>
                  <input
                    formControlName="phone1"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6 px-0 px-md-2">
                <div class="form-group">
                  <label>{{ "BAZZAR.CONTACT_INFO_2" | translate }}</label>
                  <input
                    formControlName="phone2"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row mx-0">
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label>{{ "BAZZAR.CITY" | translate }}</label>

                  <select
                    class="form-control p-foucs"
                    id="city"
                    formControlName="city"
                  >
                    <option value="">All</option>
                    <option *ngFor="let city of cities">
                      <span *ngIf="appService.lang == 'ar'">{{
                        city.city
                      }}</span>
                      <span *ngIf="appService.lang == 'en'">{{
                        city.city
                      }}</span>
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-0 px-md-2">
                <div class="form-group">
                  <label>{{ "BAZZAR.COUNTRY" | translate }}</label>
                  <input
                    disabled
                    formControlName="country"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 px-0">
                <div class="form-group">
                  <label>{{ "BAZZAR.TAG" | translate }}</label>
                  <input disabled formControlName="tag" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "BAZZAR.DESCRIPTION_ENGLISH" | translate }}</label>
              <textarea
                class="form-control textarea"
                formControlName="descriptionEnglish"
              >
              </textarea>
            </div>
            <div class="form-group">
              <label>{{ "BAZZAR.DESCRIPTION_ARABIC" | translate }}</label>
              <textarea
                class="form-control textarea"
                formControlName="descriptionArabic"
              >
              </textarea>
            </div>
            <div class="text-left">
              <button
                class="btn btn-primary px-5"
                (click)="updateMerchantAccount()"
              >
                {{ "BAZZAR.UPDATE" | translate }}
              </button>
            </div>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ "BAZZAR.ADDRESS" | translate }}</label>
                <input
                  *ngIf="edit == false"
                  disabled=""
                  type="text"
                  class="form-control"
                  placeholder="{{ 'BAZZAR.ADDRESS' | translate }}"
                  value="Jabal Alzuhor"
                />
                <input
                  *ngIf="edit == true"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'BAZZAR.ADDRESS' | translate }}"
                  value="Jabal Alzuhor"
                />
              </div>
            </div>
          </div> -->
