<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">All Shops</div>
      <div class="bread my-auto">
        Home / <span routerLink="/all-shops" class="primary">All Shops</span>
      </div>
    </div>
  </div>
</div>

<div class="d-flex w-100 my-5 px-3">
  <div
    class="card m-auto col-xl-3 col-lg-4 col-md-6 text-center justify-content-center p-3"
  >
    <div class="text-center py-4 work-img">
      <img src="../../assets/add-resturant.svg" alt="" height="80" width="80" />
    </div>
    <h2>for shops</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque deserunt
      error reprehenderit facilis?
    </p>
    <div class="text-center my-4">
      <button class="btn btn-primary w-auto px-5">add your shop</button>
    </div>
  </div>
</div>
