<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">
        {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
      </div>
      <div class="bread my-auto">
        Home /
        <span routerLink="/all-shops" class="primary">{{
          "BAZZAR.ACCOUNT_INFORMATION" | translate
        }}</span>
      </div>
    </div>
  </div>
</div>
<div class="">
  <img src="../../assets/profilePic.jpg" alt="" width="100%" height="auto" />

  <div class="bg-light2 py-3" style="position: relative">
    <div class="container my-2">
      <div class="row mx-0">
        <img
          src="../../../assets/person.jpg"
          alt=""
          height="200px"
          width="auto"
          style="
            text-transform: none;
            position: absolute;
            top: -100px;
            margin-bottom: -3px;
            z-index: 589;
            border: 5px solid #fff;
          "
        />
        <div class="" style="margin-left: 230px">
          <div class="h5">Username</div>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci!
          </p> -->
          <div class="">
            <i class="fa fa-map-marker primary" aria-hidden="true"></i>
            <span class="text-muted mx-2">amman , jordan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
