<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">
        {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
      </div>
      <div class="bread my-auto">
        Home /
        <span routerLink="/all-shops" class="primary">{{
          "BAZZAR.ACCOUNT_INFORMATION" | translate
        }}</span>
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="isDataReady">
  <img src="../../assets/profilePic.jpg" alt="" width="100%" height="auto" />

  <div class="bg-light2 py-md-3" style="position: relative">
    <div class="container py-2">
      <div class="row mx-0">
        <img [src]="getLogoSrc(merchant.logo)" alt="" class="myImg" />
        <div class="imgText">
          <div class="username">{{ userSession.user.username }}</div>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci!
          </p> -->
          <div class="address mt-md-2 mt-1">
            <i class="fa fa-map-marker primary" aria-hidden="true"></i>
            <span class="text-muted mx-2">{{ merchant.city }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
