<div class="bg-light2 arabic-dir">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">
        {{ "BAZZAR.MY_ACCOUNT" | translate }}
      </div>
      <div class="bread my-auto">
        {{ "BAZZAR.HOME" | translate }}
        /
        <span routerLink="/all-shops" class="primary">
          {{ "BAZZAR.MY_ACCOUNT" | translate }}</span
        >
      </div>
    </div>
  </div>
</div>
<div class="arabic-dir">
  <img src="../../assets/profilePic.jpg" alt="" width="100%" height="auto" />
  <div class="bg-light2 py-3">
    <div class="container my-2">
      <div class="h6 text-left">Username</div>
    </div>
  </div>
</div>
