<admin-top-part> </admin-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <admin-side-nav></admin-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">
        {{ "BAZZAR.MERCHANTS_REQUESTS" | translate }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="text-center bg-light">
            <th>{{ "BAZZAR.MERCHANT" | translate }}</th>
            <th>{{ "BAZZAR.ACCEPT" | translate }}</th>
            <th>{{ "BAZZAR.REJECT" | translate }}</th>
          </thead>
          <tbody class="text-center justifiy-content-center">
            <tr *ngFor="let request of merchantRequests">
              <td>
                <a
                  class="anchor"
                  [routerLink]="['/merchant-view']"
                  [queryParams]="{ id: request.id }"
                  rel="noopener noreferrer"
                  rel="noopener noreferrer"
                >
                  {{ request.titleEnglish }}
                </a>
              </td>
              <td>
                <a
                  type="button"
                  class="btn btn-success"
                  (click)="acceptMerchent(request.id)"
                >
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  {{ "BAZZAR.ACCEPT" | translate }}
                </a>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteMerchent(request.id)"
                >
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                  {{ "BAZZAR.REJECT" | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav
          aria-label="Page navigation example "
          class="mt-4"
          *ngIf="totalElements > 0"
        >
          <ul class="pagination justify-content-center">
            <li *ngIf="currentPage != 0" class="page-item">
              <a
                class="page-link primary"
                (click)="changePage(currentPage - 1)"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li *ngIf="currentPage == 0" class="page-item">
              <button
                class="page-link text-muted"
                aria-label="Previous"
                disabled
              >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            <li
              *ngFor="let number of pagesNumber"
              class="page-item"
              [ngClass]="{ myactive: number === currentPage + 1 }"
            >
              <a class="page-link text-dark" (click)="changePage(number - 1)">{{
                number
              }}</a>
            </li>

            <li *ngIf="currentPage != totalPages - 1" class="page-item">
              <a
                class="page-link primary"
                (click)="changePage(currentPage + 1)"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li *ngIf="currentPage == totalPages - 1" class="page-item">
              <button class="page-link text-muted" aria-label="Next" disabled>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
        <div class="" *ngIf="totalElements == 0" class="text-center">
          No merchants rsequests
        </div>
      </div>
    </div>
  </div>
</div>
