<admin-top-part> </admin-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <admin-side-nav></admin-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">
        {{ "BAZZAR.ALL_MERCHANTS" | translate }}
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="text-dark bg-light">
            <th class="text-center">Title English</th>
            <th class="text-center">Title Arabic</th>
            <th class="text-center">Options</th>
          </thead>
          <tbody>
            <tr *ngFor="let merchant of merchants">
              <td class="text-center">
                <a
                  class="anchor"
                  [routerLink]="['/merchant-view']"
                  [queryParams]="{ id: merchant.id }"
                  rel="noopener noreferrer"
                >
                  {{ merchant.titleEnglish }}
                </a>
              </td>
              <td class="text-center">
                <a
                  class="anchor"
                  [routerLink]="['/merchant-view']"
                  [queryParams]="{ id: merchant.id }"
                  rel="noopener noreferrer"
                >
                  {{ merchant.titleArabic }}
                </a>
              </td>
              <td class="text-center">
                <a
                  [routerLink]="['/edit-merchant']"
                  [queryParams]="{ id: merchant.id }"
                  rel="noopener noreferrer"
                >
                  <i class="mx-3 fa fa-edit icon-edit"></i
                ></a>
                <!-- <a><i class="mx-3 px-2 fa fa-lock h3 my-icon"></i></a> -->
                <a *ngIf="merchant.blocked"
                  ><i
                    class="mx-3 fa fa-lock icon-dark"
                    (click)="
                      unblockMerchant(merchant.id, merchant.titleEnglish)
                    "
                  ></i
                ></a>
                <a *ngIf="!merchant.blocked"
                  ><i
                    class="mx-3 fa fa-unlock icon-dark"
                    (click)="blockMerchant(merchant.id, merchant.titleEnglish)"
                  ></i
                ></a>
                <a
                  ><i
                    class="mx-3 fa fa-trash-o icon-danger"
                    (click)="deleteMerchent(merchant.id, merchant.titleEnglish)"
                  ></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example " class="mt-4">
          <ul class="pagination justify-content-center">
            <li *ngIf="currentPage != 0" class="page-item">
              <a
                class="page-link primary"
                (click)="changePage(currentPage - 1)"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li *ngIf="currentPage == 0" class="page-item">
              <button class="page-link text-muted" aria-label="Previous" disabled>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            <li
              *ngFor="let number of pagesNumber"
              class="page-item"
              [ngClass]="{ myactive: number === currentPage + 1 }"
            >
              <a class="page-link text-dark" (click)="changePage(number - 1)">{{
                number
              }}</a>
            </li>
  
            <li *ngIf="currentPage != totalPages - 1" class="page-item">
              <a
                class="page-link primary"
                (click)="changePage(currentPage + 1)"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li *ngIf="currentPage == totalPages - 1" class="page-item">
              <button class="page-link text-muted" aria-label="Next" disabled>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
