<div class="card mx-0">
  <div class="row mx-0 p-2">
    <div class="p-0">
      <img
        [src]="getSource(shop.logo)"
        alt=""
        width="70"
        height="70"
        class="border p-1"
      />
    </div>
    <div class="my-auto px-3 text-left">
      <div *ngIf="appService.lang == 'en'" class="font-weight-bold">
        {{ shop.titleEnglish }}
      </div>
      <div *ngIf="appService.lang == 'ar'" class="font-weight-bold">
        {{ shop.titleArabic }}
      </div>

      <div class="text-muted t-12 mt-2">
        <i class="fa fa-map-marker primary"></i>
        <span class="mx-1"> rayad , jadah</span>
      </div>
      <small
        class="font-weight-bold"
        [ngClass]="{
          'text-success': shop.merchantStatus == 'OPENED',
          'text-danger': shop.merchantStatus == 'CLOSED',
          'text-muted': shop.merchantStatus == 'BUSY'
        }"
      >
        <span *ngIf="appService.lang == 'en'">{{
          getStatusEnglish(shop.merchantStatus)
        }}</span>
        <span *ngIf="appService.lang == 'ar'">{{
          getStatusArabic(shop.merchantStatus)
        }}</span></small
      >
    </div>
  </div>
  <hr class="my-0" />
  <div class="t-13 text-muted p-2 mt-1 text-left">
    <span *ngIf="appService.lang == 'en'">
      {{ shop.descriptionEnglish }}
    </span>
    <span *ngIf="appService.lang == 'ar'">
      {{ shop.descriptionArabic }}
    </span>
    <br />
    <div class="row mx-0 my-3">
      <span class="my-auto text-dark font-weight-bold"
        >{{ "BAZZAR.REVIEWS" | translate }} :</span
      >
      <ngb-rating
        class="mx-2"
        [max]="5"
        [(rate)]="shop.totalRatings"
        [readonly]="true"
      ></ngb-rating>
      <span class="bg-primary px-2 py-1 rounded-lg mx-2 h-auto my-auto">
        <span *ngIf="shop.totalRatings == 0">
          {{ "BAZZAR.NEW" | translate }}
        </span>
        <span *ngIf="shop.totalRatings != 0">
          {{ shop.totalRatings }}
        </span>
      </span>
    </div>
  </div>
  <hr class="my-0" />
  <button
    class="btn m-2 hover-primary"
    [routerLink]="['/shop']"
    [queryParams]="{ id: shop.id }"
  >
    <i class="fa fa-book" aria-hidden="true"></i>
    {{ "BAZZAR.VIEW_MENU" | translate }}
  </button>
</div>
