<div
  class="bg-secondary"
  style="
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 100%,
      1% 99.95%,
      2% 99.8%,
      3% 99.6%,
      4% 99.3%,
      5% 98.9%,
      6% 98.45%,
      7% 97.9%,
      8% 97.25%,
      9% 96.55%,
      10% 95.8%,
      11% 94.95%,
      12% 94.05%,
      13% 93.1%,
      14% 92.1%,
      15% 91.05%,
      16% 90%,
      17% 88.9%,
      18% 87.8%,
      19% 86.65%,
      20% 85.5%,
      21% 84.35%,
      22% 83.2%,
      23% 82.05%,
      24% 80.9%,
      25% 79.8%,
      26% 78.75%,
      27% 77.75%,
      28% 76.75%,
      29% 75.8%,
      30% 74.9%,
      31% 74.1%,
      32% 73.35%,
      33% 72.65%,
      34% 72.05%,
      35% 71.5%,
      71% 71.05%,
      37% 71.65%,
      38% 70.35%,
      39% 70.15%,
      40% 70.05%,
      41% 70%,
      42% 70.05%,
      43% 70.2%,
      44% 70.45%,
      45% 70.75%,
      46% 71.15%,
      47% 71.65%,
      48% 72.2%,
      49% 72.85%,
      50% 73.55%,
      51% 74.35%,
      52% 75.2%,
      53% 76.1%,
      54% 77.05%,
      55% 78.05%,
      56% 79.1%,
      57% 80.15%,
      58% 81.3%,
      59% 82.4%,
      60% 83.55%,
      61% 84.7%,
      62% 85.85%,
      63% 87%,
      64% 88.15%,
      65% 89.25%,
      66% 90.35%,
      67% 91.4%,
      68% 92.45%,
      69% 93.4%,
      70% 94.35%,
      71% 95.2%,
      72% 96.05%,
      73% 96.8%,
      74% 97.45%,
      75% 98.05%,
      76% 98.6%,
      77% 99.05%,
      78% 99.4%,
      79% 99.7%,
      80% 99.85%,
      81% 100%,
      82% 100%,
      83% 99.9%,
      84% 99.75%,
      85% 99.5%,
      86% 99.2%,
      87% 98.75%,
      88% 98.25%,
      89% 97.7%,
      90% 97.05%,
      91% 96.3%,
      92% 95.5%,
      93% 94.65%,
      94% 93.75%,
      95% 92.8%,
      96% 91.8%,
      97% 90.75%,
      98% 89.65%,
      99% 88.55%,
      100% 87.4%
    );
    height: 270px;
  "
>
  <!-- <div
    class=""
    style="
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 65%,
        1% 64.95%,
        2% 64.8%,
        3% 64.6%,
        4% 64.3%,
        5% 63.9%,
        6% 63.45%,
        7% 62.9%,
        8% 62.25%,
        9% 61.55%,
        10% 60.8%,
        11% 59.95%,
        12% 59.05%,
        13% 58.1%,
        14% 57.1%,
        15% 56.05%,
        16% 55%,
        17% 53.9%,
        18% 52.8%,
        19% 51.65%,
        20% 50.5%,
        21% 49.35%,
        22% 48.2%,
        23% 47.05%,
        24% 45.9%,
        25% 44.8%,
        26% 43.75%,
        27% 42.75%,
        28% 41.75%,
        29% 40.8%,
        30% 39.9%,
        31% 39.1%,
        32% 38.35%,
        33% 37.65%,
        34% 37.05%,
        35% 36.5%,
        36% 36.05%,
        37% 35.65%,
        38% 35.35%,
        39% 35.15%,
        40% 35.05%,
        41% 35%,
        42% 35.05%,
        43% 35.2%,
        44% 35.45%,
        45% 35.75%,
        46% 36.15%,
        47% 36.65%,
        48% 37.2%,
        49% 37.85%,
        50% 38.55%,
        51% 39.35%,
        52% 40.2%,
        53% 41.1%,
        54% 42.05%,
        55% 43.05%,
        56% 44.1%,
        57% 45.15%,
        58% 46.3%,
        59% 47.4%,
        60% 48.55%,
        61% 49.7%,
        62% 50.85%,
        63% 52%,
        64% 53.15%,
        65% 54.25%,
        66% 55.35%,
        67% 56.4%,
        68% 57.45%,
        69% 58.4%,
        70% 59.35%,
        71% 60.2%,
        72% 61.05%,
        73% 61.8%,
        74% 62.45%,
        75% 63.05%,
        76% 63.6%,
        77% 64.05%,
        78% 64.4%,
        79% 64.7%,
        80% 64.85%,
        81% 65%,
        82% 65%,
        83% 64.9%,
        84% 64.75%,
        85% 64.5%,
        86% 64.2%,
        87% 63.75%,
        88% 63.25%,
        89% 62.7%,
        90% 62.05%,
        91% 61.3%,
        92% 60.5%,
        93% 59.65%,
        94% 58.75%,
        95% 57.8%,
        96% 56.8%,
        97% 55.75%,
        98% 54.65%,
        99% 53.55%,
        100% 52.4%
      );
    "
  ></div> -->
  <div class="text-center">
    <h4 class="pt-5 font-weight-bold">How To Order?</h4>
  </div>
  <div class="row mx-0 justify-content-center mt-4">
    <p class="col-md-6 text-muted text-center">
      Quisque gravida maximus elit et facilisis. Aenean tellus ligula,
      pellentesque sit amet luctus eget, posuere eget sapien. Lorem ipsum dolor
      sit amet.
    </p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div
      class="col-md-3 d-flex"
      style="background-image: url(../../assets/download.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-3">
      <span class="small text-muted mt-0 pt-0">Step 01</span>
      <h5 class="mt-2">Choose Your Area Restaurant</h5>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div
      class="col-md-3 d-flex"
      style="background-image: url(../../assets/download.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-3">
      <span class="small text-muted mt-0 pt-0">Step 02</span>
      <h5 class="mt-2">Choose Food</h5>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>

  <!--step 3-->
  <div class="row justify-content-md-center mt-5">
    <div
      class="col-md-3 d-flex"
      style="background-image: url(../../assets/download.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-3">
      <span class="small text-muted mt-0 pt-0">Step 03</span>
      <h5 class="mt-2">Pay Online or Cash</h5>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div
      class="col-md-3 d-flex"
      style="background-image: url(../../assets/download.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-3">
      <span class="small text-muted mt-0 pt-0">Step 04</span>
      <h5 class="mt-2">Delivery or Pickup</h5>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div
      class="col-md-3 d-flex"
      style="background-image: url(../../assets/download.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-3">
      <span class="small text-muted mt-0 pt-0">Step 05</span>
      <h5 class="mt-2">Enjoy</h5>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>

  <!--how-to-orders end-->
  <!--partner-with-us start-->
  <div class="text-center mt-5">
    <h4 class="font-weight-bold">Partner With Us</h4>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mt-4 text-muted">
      <p>
        Quisque gravida maximus elit et facilisis. Aenean tellus ligula,
        pellentesque sit amet luctus eget, posuere eget sapien.
      </p>
      <div class="my-5">
        <a href="add_restaurant.html" class="btn btn-main mx-3 p-3"
          >For a Restaurants</a
        >
        <a href="add_driver.html" class="btn btn-main mx-3 p-3"
          >For a Drivers</a
        >
      </div>
    </div>
  </div>

  <!--partner-with-us end-->
  <!--over-15000-restaurants start-->
</div>
