<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir t-smaller">
      <div class="h5 text-left my-auto t-smaller">
        {{ "BAZZAR.HOW_TO_ORDER" | translate }}
      </div>
      <div class="bread my-auto t-smaller">
        <a routerLink="/" class="text-dark"> {{ "BAZZAR.HOME" | translate }}</a>
        /
        <a routerLink="/how-to-order" class="primary t-smaller">
          {{ "BAZZAR.HOW_TO_ORDER" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-4">
  <div class="pt-5 h4 py-2">{{ "BAZZAR.HOW_TO_ORDER" | translate }}</div>
</div>
<div class="row mx-0 justify-content-center mt-4 pb-4">
  <p class="col-md-5 text-muted text-center">
    Quisque gravida maximus elit et facilisis. Aenean tellus ligula,
    pellentesque sit amet luctus eget, posuere eget sapien. Lorem ipsum dolor
    sit amet.
  </p>
</div>
<div class="container arabic-dir">
  <div class="row justify-content-md-center mx-0">
    <div
      class="col-md-3 d-flex py-5 py-md-0"
      style="background-image: url(../../assets/bg-how.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/img_1.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-md-4 text-left mx-0 px-0 mt-4 mt-md-0">
      <span class="small text-muted mt-0 pt-0">Step 01</span>
      <div class="mt-2 h6">Choose Your Area Restaurant</div>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-md-5 mt-0 mx-0">
    <div
      class="col-md-3 d-flex py-5 py-md-0"
      style="background-image: url(../../assets/bg-how.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/icon_2.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-md-4 text-left mx-0 px-0 mt-4 mt-md-0">
      <span class="small text-muted mt-0 pt-0">Step 02</span>
      <div class="mt-2 h6">Choose Food</div>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>

  <!--step 3-->
  <div class="row justify-content-md-center mt-md-5 mt-0 mx-0">
    <div
      class="col-md-3 d-flex py-5 py-md-0"
      style="background-image: url(../../assets/bg-how.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/icon_3.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-md-4 text-left mx-0 px-0 mt-4 mt-md-0">
      <span class="small text-muted mt-0 pt-0">Step 03</span>
      <div class="mt-2 h6">Pay Online or Cash</div>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-md-5 mt-0 mx-0">
    <div
      class="col-md-3 d-flex py-5 py-md-0"
      style="background-image: url(../../assets/bg-how.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/icon_4.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-md-4 text-left mx-0 px-0 mt-4 mt-md-0">
      <span class="small text-muted mt-0 pt-0">Step 04</span>
      <div class="mt-2 h6">Delivery or Pickup</div>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-md-5 mt-0 mx-0">
    <div
      class="col-md-3 d-flex py-5 py-md-0"
      style="background-image: url(../../assets/bg-how.jpg)"
    >
      <div class="m-auto bg-white d-flex" style="border-radius: 50%">
        <img
          src="../../assets/icon_5.svg"
          alt=""
          height="100"
          width="100"
          class="m-auto p-4"
        />
      </div>
    </div>
    <div class="col-md-7 mx-md-4 text-left mx-0 px-0 mt-4 mt-md-0">
      <span class="small text-muted mt-0 pt-0">Step 05</span>
      <div class="mt-2 h6">Enjoy</div>
      <p class="font-14px text-muted mt-3 mb-5">
        Aenean at tortor nec lacus feugiat rhoncus id eu erat. Etiam ut enim et
        nulla tincidunt convallis eget sed quam. Morbi facilisis ante eu
        interdum euismod. Sed sodales nisl massa. Proin pharetra tincidunt leo
        vel consequat
      </p>
    </div>
  </div>

  <!--how-to-orders end-->
  <!--partner-with-us start-->
  <div class="text-center mt-5">
    <div class="h4">Partner With Us</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mt-4 text-muted">
      <p>
        Quisque gravida maximus elit et facilisis. Aenean tellus ligula,
        pellentesque sit amet luctus eget, posuere eget sapien.
      </p>
      <div class="my-5">
        <a href="add_restaurant.html" class="btn btn-main mx-3 p-2 w-75"
          >Join Us</a
        >
      </div>
    </div>
  </div>

  <!--partner-with-us end-->
  <!--over-15000-restaurants start-->
</div>
