<!-- <div *ngIf="mySuccessAlert === true" class="text-center justify-content-center">
  <div class="fixed-top alert alert-success alert-animation mx-auto">
    <img
      src="../../assets/check_mark-removebg-preview.png"
      alt="image"
      height="40"
    />
    {{ "BAZZAR.UPDATED_SUCCESSFULLY" | translate }}
  </div>
</div> -->

<!-- <div *ngIf="myDangerAlert === true" class="text-center justify-content-center">
  <div class="fixed-top alert alert-danger alert-animation mx-auto">
    <img src="../../../assets/cancel.png" alt="image" height="40" />
    {{ "BAZZAR.ALREADY_RATED" | translate }}
  </div>
</div> -->
<top-part></top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <side-nav></side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">{{ "BAZZAR.MY_ORDERS" | translate }}</div>
      <div class="border p-3 rounded">
        <div
          *ngIf="orders.length == 0"
          class="justify-content-center row py-3 mx-0"
        >
          <div class="text-center">
            <img
              src="../../assets/icon_emptyorders.svg"
              alt="image"
              width="90"
              height="auto"
            />
            <p class="row mx-0 mt-3">
              {{ "BAZZAR.NO_ORDERS_YET" | translate }}
            </p>
          </div>
        </div>
        <div class="row my-3 mx-0" *ngFor="let order of orders">
          <div class="card w-100 mx-3" style="width: fit-content">
            <div class="row mx-0">
              <div class="col-lg-2 col-md-3 col-4 my-auto px-1">
                <img
                  [src]="getSource(order.merchant.logo)"
                  height="100%"
                  width="100%"
                  class="border"
                />
              </div>
              <div class="col-md-5 col-lg-5 col-8 ml-0 t-media-12">
                <div class="card-body mx-0 px-0 text-left">
                  <span *ngIf="appService.lang == 'en'">{{
                    order.merchant.titleEnglish
                  }}</span>
                  <span *ngIf="appService.lang == 'ar'">{{
                    order.merchant.titleArabic
                  }}</span>
                  <br />

                  <small>{{ order.dateAndTime | date }}</small>
                  <br />
                  <small>
                    <span
                      class="text-success t-media-12"
                      *ngIf="appService.lang == 'en'"
                      >{{ getOrderStatusEnglish(order.orderStatus) }}</span
                    >
                    <span
                      class="text-success t-media-12"
                      *ngIf="appService.lang == 'ar'"
                      >{{ getOrderStatusArabic(order.orderStatus) }}</span
                    >
                  </small>
                </div>
              </div>
              <div
                class="col-lg-5 col-md-4 text-md-right text-center my-auto pb-2 pb-md-0 px-0"
              >
                <a
                  class="btn btn-outline-secondary small mx-1 t-media-12 arabic-dir"
                  (click)="openDialogRateOrder(order)"
                >
                  <small class="text-dark">
                    <i class="fa fa-star primary" aria-hidden="true"></i>
                    {{ "BAZZAR.RATE_ORDER" | translate }}
                  </small></a
                >
                <a
                  (click)="openDialogOrderDetails(order)"
                  class="btn btn-outline-secondary mx-1 mt-md-2 mt-lg-0 t-media-12 arabic-dir"
                >
                  <small class="text-dark">
                    <i class="fa fa-asterisk primary"></i>
                    {{ "BAZZAR.ORDER_DETAILS" | translate }}
                  </small></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
