<merchant-top-part></merchant-top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <merchant-side-nav></merchant-side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">{{ "BAZZAR.WARDROBE" | translate }}</div>

      <div class="card">
        <div class="border-bottom">
          <div class="row mx-0 px-md-4 px-1 py-4">
            <div class="text-dark text-left h6 col-md-11 col-10">
              <span class="text-center">{{
                "BAZZAR.WARDROBE_DETAILS_EN" | translate
              }}</span>
            </div>
            <div class="col-md-1 col-2 text-right text-left-ar">
              <a *ngIf="show == 1">
                <i
                  class="fa fa-minus text-dark"
                  aria-hidden="true"
                  (click)="minimize()"
                ></i>
              </a>
              <a *ngIf="show == 0">
                <i
                  class="fa fa-plus text-dark"
                  aria-hidden="true"
                  (click)="maximize()"
                ></i>
              </a>
            </div>
          </div>

          <div *ngIf="show == 1">
            <div class="row p-md-4 p-1 mx-0 text-muted">
              <p class="col-3 text-left">
                {{ "BAZZAR.TITLE" | translate }}
              </p>
              <p class="col-9 text-center">{{ category.titleEnglish }}</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="row mx-0 px-md-4 px-1 py-4">
            <div class="text-dark text-left h6 col-md-11 col-10">
              {{ "BAZZAR.WARDROBE_DETAILS_AR" | translate }}
            </div>
            <div class="col-md-1 col-2 text-right text-left-ar">
              <a *ngIf="show2 == 2" class="">
                <i
                  class="fa fa-minus text-dark"
                  aria-hidden="true"
                  (click)="minimize2()"
                ></i>
              </a>
              <a *ngIf="show2 == 20">
                <i
                  class="fa fa-plus text-dark"
                  aria-hidden="true"
                  (click)="maximize2()"
                ></i>
              </a>
            </div>
          </div>

          <div *ngIf="show2 == 2">
            <div class="row p-md-4 p-1 mx-0 text-muted">
              <p class="text-left col-3">
                {{ "BAZZAR.TITLE" | translate }}
              </p>
              <p class="col-9 text-center">
                {{ category.titleArabic }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="row mx-0 p-4">
              <div class="text-dark ml-auto h6">
                {{ "BAZZAR.IMAGE" | translate }}
              </div>
              <a *ngIf="show3 == 3" class="ml-auto">
                <i
                  class="fa fa-minus text-dark"
                  aria-hidden="true"
                  (click)="minimize3()"
                ></i>
              </a>
              <a *ngIf="show3 == 30" class="ml-auto">
                <i
                  class="fa fa-plus text-dark"
                  aria-hidden="true"
                  (click)="maximize3()"
                ></i>
              </a>
            </div> -->
        <!-- <div *ngIf="show3 == 3">
              <div class="mb-4 text-center col-md-12">
                <img src="../../../assets/bg-how.jpg" alt="" />
              </div>
            </div> -->
      </div>
    </div>
  </div>
</div>
