<div class="row border-bottom pb-2 arabic-dir">
  <div class="text-primary text-left col-8 h5">
    {{ "BAZZAR.ORDER_SUMMARY" | translate }}
  </div>
  <i
    class="fa fa-times text-dark text-right col-4 pt-1 text-left-ar"
    (click)="onNoClick()"
  >
  </i>
</div>
<div class="px-0 mx-0 arabic-dir">
  <div class="row mx-0 mt-4 text-left font-14px">
    <div class="col-md-4 col-6 text-left px-0 mx-0 text-dark font-weight-600">
      {{ "BAZZAR.SHOP" | translate }}
    </div>
    <div
      [ngClass]="{ 'text-md-right': appService.lang === 'ar' }"
      class="col-md-8 text-right text-md-left col-6 px-0 mx-0"
    >
      <span *ngIf="appService.lang == 'en'">{{
        data.order.merchant.titleEnglish
      }}</span>
      <span *ngIf="appService.lang == 'ar'">{{
        data.order.merchant.titleArabic
      }}</span>
    </div>
  </div>
  <div class="row mx-0 mt-4 text-left font-14px">
    <div class="col-md-4 col-6 text-left px-0 mx-0 text-dark font-weight-600">
      {{ "BAZZAR.ORDER_STATUS" | translate }}
    </div>
    <div
      [ngClass]="{ 'text-md-right': appService.lang === 'ar' }"
      class="col-md-8 text-right text-md-left col-6 px-0 mx-0"
    >
      <span class="text-success t-media-12" *ngIf="appService.lang == 'ar'">{{
        getOrderStatusArabic(data.order.orderStatus)
      }}</span>
      <span class="text-success t-media-12" *ngIf="appService.lang == 'en'">{{
        getOrderStatusEnglish(data.order.orderStatus)
      }}</span>
    </div>
  </div>
  <div class="row mx-0 mt-4 text-left font-14px">
    <div class="col-md-4 text-left px-0 mx-0 text-dark font-weight-600 col-6">
      {{ "BAZZAR.PAYMENT_METHOD" | translate }}
    </div>
    <div
      [ngClass]="{ 'text-md-right': appService.lang === 'ar' }"
      class="col-md-8 col-md-8 text-right col-6 text-md-left px-0 mx-0"
    >
      <img
        src="../../../assets/cash-icon.svg"
        height="15"
        width="auto"
        alt="image"
      />
      {{ "BAZZAR.CASH" | translate }}
    </div>
  </div>
  <div class="row mx-0 mt-4 text-left font-14px">
    <div class="col-md-4 text-left px-0 mx-0 text-dark font-weight-600">
      {{ "BAZZAR.ADDRESS" | translate }}
    </div>
    <div class="col-md-8 text-left px-0 mx-0 mt-2 mt-md-0">
      {{ data.order.shippingAddress.country }} ,
      {{ data.order.shippingAddress.city }} ,
      {{ data.order.shippingAddress.addressLineOne }}
      <br />
      {{ data.order.shippingAddress.addressLineTwo }}
    </div>
  </div>
  <div class="row mx-0 mt-4 text-left font-14px">
    <div class="col-md-4 text-left px-0 mx-0 text-dark font-weight-600">
      {{ "BAZZAR.SPECAIL_REQUEST" | translate }}
    </div>
    <div class="col-md-8 text-left px-0 mx-0 mt-2 mt-md-0">
      {{ data.order.note }}
    </div>
  </div>
  <div class="bg-light mt-4 border rounded mx-0">
    <div class="row border-bottom mx-0">
      <div class="col-6 small font-weight-600 text-left py-2 text-muted">
        {{ "BAZZAR.ITEMS" | translate }}
      </div>
      <div class="col-2 small font-weight-600 text-left py-2 text-muted">
        {{ "BAZZAR.QTY" | translate }}
      </div>
      <div class="col-2 small font-weight-600 text-left py-2 text-muted">
        {{ "BAZZAR.PRICE" | translate }}
      </div>
      <div class="col-2 small font-weight-600 text-left py-2 text-muted">
        {{ "BAZZAR.TOTAL" | translate }}
      </div>
    </div>
    <div
      class="row border-bottom mx-0"
      *ngFor="let item of data.order.products"
    >
      <div class="col-6 small text-left py-2 text-dark">
        <span *ngIf="appService.lang == 'ar'">{{
          item.product.titleArabic
        }}</span>
        <span *ngIf="appService.lang == 'en'">{{
          item.product.titleEnglish
        }}</span>
        <br />
        <small>
          <span *ngIf="appService.lang == 'ar'">{{
            item.product.descriptionArabic
          }}</span>
          <span *ngIf="appService.lang == 'en'">{{
            item.product.descriptionEnglish
          }}</span>
        </small>
      </div>
      <div class="col-2 small text-left py-2 text-dark">
        {{ item.quantity }}
      </div>
      <div class="col-2 small text-left py-2 text-dark">
        {{ item.product.price }}
      </div>
      <div class="col-2 small text-left py-2 text-dark">
        {{ item.quantity * item.product.price }}
      </div>
    </div>
  </div>
  <div class="mt-4 mx-0 small">
    <!-- <div class="row mx-0">
      <div class="col-6 text-center font-weight-600 text-muted">Subtotal</div>
      <div class="col-6 text-center font-weight-600 text-muted">12.00 SAR</div>
    </div>
    <div class="row mx-0 mt-3">
      <div class="col-6 text-center font-weight-600 text-muted">
        Service Charge
      </div>
      <div class="col-6 text-center font-weight-600 text-muted">.05 SAR</div>
    </div> -->
    <!-- <div class="row mx-0 mt-3">
      <div class="col-6 text-center font-weight-600 text-muted">Discount</div>
      <div class="col-6 text-center font-weight-600 text-muted">{{}} SAR</div>
    </div> -->
    <div class="row mx-0 mt-4">
      <div class="col-6 text-center font-weight-600 h6">
        {{ "BAZZAR.TOTAL_AMOUNT" | translate }}
      </div>
      <div class="col-6 text-center font-weight-600 h6">
        {{ data.order.total }} SAR
      </div>
    </div>
  </div>
</div>
