<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir t-smaller">
      <div class="h5 text-left my-auto t-smaller font-weight-bold">
        {{ "BAZZAR.JOIN_US" | translate }}
      </div>
      <div class="bread my-auto t-smaller">
        <a routerLink="/" class="text-dark"> {{ "BAZZAR.HOME" | translate }}</a>
        /
        <a routerLink="/join-us" class="primary t-smaller">
          {{ "BAZZAR.JOIN_US" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="row mx-0 mt-5 px-0 arabic-dir">
    <div class="col-md-6 text-left">
      <div class="h5 h5-ar">{{ "BAZZAR.BASIC_INFO" | translate }}</div>
      <form class="mt-5" [formGroup]="joinUsForm">
        <div class="form-group">
          <label>
            {{ "BAZZAR.STORE_NAME_ENGLISH" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            maxlength="100"
            required
            formControlName="nameEnglish"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.nameEnglish.errors?.required &&
              joinUsForm.controls.nameEnglish.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>
        <div class="form-group mb-4">
          <label> {{ "BAZZAR.STORE_NAME_ARABIC" | translate }} </label>
          <input
            type="text"
            class="form-control"
            formControlName="nameArabic"
            maxlength="100"
            required
          />
          <mat-error
            *ngIf="joinUsForm.controls.nameArabic.hasError('invalidLetters')"
          >
            {{ "BAZZAR.USE_ARABIC_LETTERS" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              joinUsForm.controls.nameArabic.errors?.required &&
              joinUsForm.controls.nameArabic.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>
        <div class="form-group">
          <label>
            {{ "BAZZAR.STORE_DESCRIPTION_ENGLISH" | translate }}
          </label>
          <input
            type="text"
            id="desEnglish"
            formControlName="desEnglish"
            maxlength="250"
            required
            class="form-control"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.desEnglish.errors?.required &&
              joinUsForm.controls.desEnglish.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>
        <div class="form-group">
          <label>
            {{ "BAZZAR.STORE_DESCRIPTION_ARABIC" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            maxlength="250"
            required
            formControlName="desArabic"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.desArabic.errors?.required &&
              joinUsForm.controls.desArabic.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="joinUsForm.controls.desArabic.hasError('invalidLetters')"
          >
            {{ "BAZZAR.USE_ARABIC_LETTERS" | translate }}
          </mat-error>
        </div>
        <div class="form-group" *ngIf="lastUploadedLogo === ''">
          <label class="">{{ "BAZZAR.STORE_LOGO" | translate }}</label>

          <div class="custom-file mb-3">
            <label class="custom-file-label" for="validatedCustomFile">{{
              "BAZZAR.STORE_LOGO" | translate
            }}</label>
            <input
              accept="image/*"
              type="file"
              class="custom-file-input"
              formControlName="logo"
              (change)="uploadImage($event)"
              required
            />
          </div>

          <mat-error
            *ngIf="
              joinUsForm.controls.logo.errors?.required &&
              joinUsForm.controls.logo.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>

        <div class="form-group" *ngIf="lastUploadedLogo != ''">
          <label class="">{{ "BAZZAR.STORE_LOGO" | translate }}</label>

          <img [src]="getImageSource(lastUploadedLogo)" width="100" height="auto" alt="" srcset="">
        </div>
        <div class="form-group mb-5">
          <label>{{ "BAZZAR.TAG" | translate }}</label>
          <select
            class="form-select form-control"
            formControlName="tag"
            required
          >
            <option selected>- {{ "BAZZAR.SELECT" | translate }} -</option>
            <option *ngFor="let tag of tags" value="tag.id">
              <span *ngIf="appService.lang == 'ar'">{{ tag.nameArabic }}</span>
              <span *ngIf="appService.lang == 'en'">{{ tag.nameEnglish }}</span>
            </option>
          </select>
          <mat-error
            *ngIf="
              joinUsForm.controls.tag.errors?.required &&
              joinUsForm.controls.tag.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>

        <div class="h5 h5-ar">{{ "BAZZAR.CONTACT_INFO" | translate }}</div>
        <div class="form-group mt-5">
          <label class="t-media-14">
            {{ "BAZZAR.MOBILE_NUMBER1" | translate }}
          </label>
          <input
            type="tel"
            formControlName="phone1"
            class="form-control"
            id="mobileNumber1"
            maxlength="15"
            pattern="[0-9]+"
            minlength="10"
          />
          <mat-error *ngIf="joinUsForm.controls.phone1.hasError('pattern')">
            {{ "BAZZAR.PHONE_PATTERN" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              joinUsForm.controls.phone1.errors?.required &&
              joinUsForm.controls.phone1.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="joinUsForm.controls.phone1.hasError('minlength')">
            {{ "BAZZAR.PHONE_LENGTH" | translate }}
          </mat-error>
        </div>
        <div class="form-group mb-4">
          <label class="t-media-14">
            {{ "BAZZAR.MOBILE_NUMBER2" | translate }}</label
          >
          <input
            type="tel"
            class="form-control"
            id="mobileNumber2"
            maxlength="15"
            minlength="10"
            formControlName="phone2"
            pattern="[0-9]+"
          />
          <mat-error *ngIf="joinUsForm.controls.phone2.hasError('pattern')">
            {{ "BAZZAR.PHONE_PATTERN" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              joinUsForm.controls.phone2.errors?.required &&
              joinUsForm.controls.phone2.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="joinUsForm.controls.phone2.hasError('minlength')">
            {{ "BAZZAR.PHONE_LENGTH" | translate }}
          </mat-error>
        </div>
        <div class="form-group mb-5">
          <label class="t-media-14">{{ "BAZZAR.EMAIL" | translate }}</label>
          <input
            type="email"
            class="form-control"
            id="email"
            maxlength="150"
            formControlName="email"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.email.errors?.required &&
              joinUsForm.controls.email.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="joinUsForm.controls.email.hasError('invalidEmail')">
            {{ "BAZZAR.EMAIL_PATTERN" | translate }}
          </mat-error>
        </div>
        <div class="h5 h5-ar">{{ "BAZZAR.LOCATION" | translate }}</div>

        <div class="form-group mt-5">
          <label>{{ "BAZZAR.COUNTRY" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="country"
            disabled
            formControlName="country"
          />
        </div>
        <div class="form-group mb-5">
          <label>{{ "BAZZAR.CITY" | translate }}</label>
          <select class="form-control p-foucs" formControlName="city" id="city">
            <option value="">All</option>
            <option *ngFor="let city of cities" [value]="city.city">
              <span *ngIf="appService.lang == 'ar'">{{ city.city }}</span>
              <span *ngIf="appService.lang == 'en'">{{ city.city }}</span>
            </option>
          </select>
          <mat-error
            *ngIf="
              joinUsForm.controls.city.errors?.required &&
              joinUsForm.controls.city.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
        </div>
        <div class="h5 h5-ar">{{ "BAZZAR.CONFIRMATION" | translate }}</div>

        <div class="form-group mb-4 mt-5">
          <label class="t-media-14">{{ "BAZZAR.PASSWORD" | translate }}</label>
          <input
            type="password"
            class="form-control"
            maxlength="100"
            id="password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.password.errors?.required &&
              joinUsForm.controls.password.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="joinUsForm.controls.password.hasError('minlength')">
            {{ "BAZZAR.PASSWORD_LENGTH" | translate }}
          </mat-error>
        </div>
        <div class="form-group mb-5">
          <label class="t-media-14">
            {{ "BAZZAR.CONFIRM_PASSWORD" | translate }}</label
          >
          <input
            type="password"
            class="form-control"
            maxlength="100"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-error
            *ngIf="
              joinUsForm.controls.confirmPassword.errors?.required &&
              joinUsForm.controls.confirmPassword.touched
            "
          >
            {{ "BAZZAR.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              joinUsForm.controls.confirmPassword.hasError(
                'mismatchedPasswords'
              ) && joinUsForm.controls.confirmPassword.touched
            "
            >{{ "BAZZAR.DONT_MATCH" | translate }}</mat-error
          >
        </div>

        <div class="form-group mb-5 text-left">
          <button
            class="btn btn-primary py-2 px-4 rounded-0"
            (click)="addMerchant()"
          >
            {{ "BAZZAR.ADD_SHOP" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 px-md-0 text-left">
      <div class="h5 h5-ar">How it Works</div>
      <div class="work-img mt-5">
        <img
          src="../../assets/icon-1.svg"
          alt=""
          height="40"
          width="40"
          class="m-auto"
        />
      </div>
      <p class="larger mt-1">Fill Form</p>
      <p class="text-muted">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla
        accusantium reprehenderit porro harum ab, maiores, numquam repellendus
        rerum facilis repudiandae possimus rem aliquid nihil explicabo
        praesentium et, vel atque ad.
      </p>
      <div class="work-img mt-5">
        <img
          src="../../assets/icon-2.svg"
          alt=""
          height="40"
          width="40"
          class="m-auto"
        />
      </div>
      <p class="larger mt-1">Fill Form</p>
      <p class="text-muted">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla
        accusantium reprehenderit porro harum ab, maiores, numquam repellendus
        rerum facilis repudiandae possimus rem aliquid nihil explicabo
        praesentium et, vel atque ad.
      </p>
      <div class="work-img mt-5">
        <img
          src="../../assets/icon-3.svg"
          alt=""
          height="40"
          width="40"
          class="m-auto"
        />
      </div>
      <p class="larger mt-1">Fill Form</p>
      <p class="text-muted">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla
        accusantium reprehenderit porro harum ab, maiores, numquam repellendus
        rerum facilis repudiandae possimus rem aliquid nihil explicabo
        praesentium et, vel atque ad.
      </p>
    </div>
  </div>
</div>
