<div
  style="
    background-image: url(../../assets/banner.jpeg);
    height: auto !important;
    width: 100%;
    background-size: cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12 d-flex">
        <div class="text-white my-auto">
          <h1 class="title">Choose, Order and Checkout</h1>
          <h6>Specify your address to suggest you the fast delivery</h6>
          <p>Get our services from 24 hours.</p>
          <a class="p-3 btn btn-main" href="#">Go To Meal</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 bg-transparent d-flex">
        <form class="my-auto w-100">
          <div class="form-group search-form">
            <i
              class="fa fa-map-marker"
              style="position: absolute; top: 12px; left: 15px"
            ></i>

            <input
              class="form-control"
              name="search"
              type="text"
              placeholder="Choose your location"
            />
          </div>
          <div class="form-group search-form">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <input
              class="form-control"
              name="search"
              type="text"
              placeholder="Choose restaurant"
            />
            <button class="btn btn-main mt-4 p-3" type="button">
              Find Food
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row mx-0">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="row mx-0">
        <div
          class="w-25 mt-4 border p-3 w-auto d-flex work-img"
          style="height: 70px; width: 70px"
        >
          <img
            src="../../assets/img_1.svg"
            alt=""
            height="35"
            width="35"
            class="m-auto"
          />
        </div>
        <div class="mt-4 w-75 font-small pl-3">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="row mx-0">
        <div
          class="w-25 mt-4 border p-3 w-auto d-flex work-img"
          style="height: 70px; width: 70px"
        >
          <img
            src="../../assets/img_2.svg"
            alt=""
            height="35"
            width="35"
            class="m-auto"
          />
        </div>
        <div class="mt-4 w-75 font-small pl-3">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="row mx-0">
        <div
          class="w-25 mt-4 border p-3 w-auto d-flex work-img"
          style="height: 70px; width: 70px"
        >
          <img
            src="../../assets/img_3.svg"
            alt=""
            height="35"
            width="35"
            class="m-auto"
          />
        </div>
        <div class="mt-4 w-75 font-small pl-3">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner border" style="padding: 40px !important">
      <div class="carousel-item active w-100">
        <div class="row d-flex mx-0">
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>

          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>

          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
        </div>
      </div>
      <div class="carousel-item row mx-0 w-100">
        <div class="row d-flex mx-0">
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>

          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>

          <span class="p-4 bg-light col-2 mx-auto"> Lorem ipsum </span>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev mt-5"
      style="
        height: 33px;
        width: 33px;
        background-color: #fff !important;
        border: 2px solid #bbb;
        border-radius: 50%;
        z-index: 999;
      "
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-chevron-left text-dark"></i>
    </a>
    <a
      style="
        height: 33px;
        width: 33px;
        background-color: #fff !important;
        border: 2px solid #bbb;
        border-radius: 50%;
        z-index: 999;
      "
      class="carousel-control-next mt-5"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-chevron-right text-dark"></i>
    </a>
  </div>
  <div class="py-5">
    <h3 class="text-center">order food online in your area</h3>
  </div>
  <div class="row mx-0">
    <div class="col-lg-3 col-md-6 px-3">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 px-3">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 px-3">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 px-3">
      <shop-card></shop-card>
    </div>
  </div>
  <div class="text-center mt-5">
    <button class="btn btn-main py-3 px-4">Show All</button>
  </div>

  <div class="row my-5">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="bg-img">
        <div class="text-white p-3" style="background-size: cover !important">
          <div class="bnnr-text">
            <h4>Order Food Online</h4>
            <p class="small">
              Use code to get 50% off upto $5<br />
              on your next order.
            </p>
          </div>
          <div class="small">
            <a href="#" class="btn btn-main"
              ><span class="small"> Order Now</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="bg-img">
        <div class="text-white p-3" style="background-size: cover !important">
          <div class="bnnr-text">
            <h4>Order Food Online</h4>
            <p class="small">
              Use code to get 50% off upto $5<br />
              on your next order.
            </p>
          </div>
          <div class="small">
            <a href="#" class="btn btn-main"
              ><span class="small"> Order Now</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 font-weight-bold">
    <h4 class="font-weight-bold">Featured Restaurants</h4>
  </div>
  <div class="border">
    <!--start  row of Featured resturant -->
    <div class="row mx-0 p-3">
      <div class="col-md-4 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="m-auto">
          <span><i class="fa fa-map-marker primary mx-2"></i></span>
          <span class="text-muted small">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
    <hr class="m-0 p-0" />
    <!--end  row of Featured resturant -->

    <div class="row mx-0 p-3">
      <div class="col-md-4 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="m-auto">
          <span><i class="fa fa-map-marker primary mx-2"></i></span>
          <span class="text-muted small">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
    <hr class="m-0 p-0" />

    <div class="row mx-0 p-3">
      <div class="col-md-4 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="m-auto">
          <span><i class="fa fa-map-marker primary mx-2"></i></span>
          <span class="text-muted small">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
  </div>
</div>
