<div
  style="
    background-image: url(../../assets/banner.jpeg);
    height: auto !important;
    width: 100%;
    background-size: cover;
  "
>
  <div class="container arabic-dir">
    <div class="row">
      <div class="col-lg-8 col-md-6 my-auto d-none d-md-block text-left">
        <div class="text-white">
          <div class="title h1">
            {{ "BAZZAR.HOMR_SLIDER_TITLE" | translate }}
          </div>
          <div class="h6 pt-3">
            {{ "BAZZAR.HOMR_SLIDER_SUBTITLE" | translate }}
          </div>
          <p>{{ "BAZZAR.HOMR_SLIDER_Text" | translate }}</p>
          <a class="p-3 btn btn-main mt-4" href="#">Go To Meal</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 bg-transparent d-flex">
        <form class="my-auto w-100">
          <div class="form-group search-form">
            <i class="fa fa-map-marker search-icon"></i>

            <select class="form-control p-foucs" id="city">
              <option value="">All</option>
              <option *ngFor="let city of cities">
                <span *ngIf="appService.lang == 'ar'">{{ city.city }}</span>
                <span *ngIf="appService.lang == 'en'">{{ city.city }}</span>
              </option>
            </select>
          </div>
          <div class="form-group search-form">
            <i class="fa fa-cutlery search-icon" aria-hidden="true"></i>
            <input
              class="form-control p-foucs"
              name="search"
              type="text"
              id="nameInput"
              placeholder="Choose merchant"
            />
            <div class="text-left">
              <button
                class="btn btn-main mt-4 p-3"
                type="button"
                (click)="search()"
              >
                Find Food
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row mx-0 px-0 arabic-dir">
    <div class="col-md-4 px-0">
      <div class="row mx-0 px-0">
        <div class="col-2 mt-4 border w-auto h-auto d-flex work-img">
          <img
            src="../../assets/img_1.svg"
            alt=""
            height="33"
            width="33"
            class="m-auto"
          />
        </div>
        <div class="mt-4 col-10 font-small text-left">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 px-0">
      <div class="row mx-0 px-0">
        <div class="col-2 mt-4 border w-auto d-flex work-img">
          <img
            src="../../assets/img_2.svg"
            alt=""
            height="33"
            width="33"
            class="m-auto"
          />
        </div>
        <div class="mt-4 col-10 font-small text-left">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 px-0">
      <div class="row mx-0 px-0">
        <div class="col-2 mt-4 border w-auto d-flex work-img">
          <img
            src="../../assets/img_3.svg"
            alt=""
            height="33"
            width="33"
            class="m-auto"
          />
        </div>
        <div class="mt-4 col-10 font-small text-left">
          <h6 class="font-weight-bold">Choose Your Area Restaurant</h6>
          <p class="text-md">
            Donec et tellus sed lorem condimentum maximus. Sed tempor, leo
            tempus condimentum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="h4 text-center pt-5">Discover New Resturant & Book Now</div>
  <div class="w-100 mt-5 border py-5">
    <div
      ng2-carouselamos
      class="slides-wrapper d-md-none d-block"
      [items]="categories"
      [$prev]="prev"
      [width]="300"
      [$next]="next"
      [$item]="item"
    ></div>
    <div
      ng2-carouselamos
      class="slides-wrapper d-lg-block d-none d-xl-none"
      [items]="categories"
      [$prev]="prev"
      [width]="800"
      [$next]="next"
      [$item]="item"
    ></div>
    <div
      ng2-carouselamos
      class="slides-wrapper d-md-block d-none d-lg-none"
      [items]="categories"
      [$prev]="prev"
      [width]="600"
      [$next]="next"
      [$item]="item"
    ></div>
    <div
      ng2-carouselamos
      class="slides-wrapper d-xl-block d-none"
      [items]="categories"
      [$prev]="prev"
      [width]="950"
      [$next]="next"
      [$item]="item"
    ></div>
    <ng-template #prev class="text-left pl-0 ml-0">
      <i class="fa fa-chevron-left" aria-hidden="true" id="left"></i>
    </ng-template>
    <ng-template #next class="text-right ml-auto mr-0">
      <i class="fa fa-chevron-right" aria-hidden="true" id="right"></i>
    </ng-template>
    <ng-template
      #item
      let-item
      let-i="index"
      class="justify-content-center py-5"
    >
      <div
        class="item mx-4 px-2 d-flex itemsContainer font-weight-600 text-muted"
      >
        <span class="m-auto" *ngIf="appService.lang == 'en'"
          ><img
            [src]="getIconSrc(item.icon)"
            class="m-1"
            alt=""
            width="30px"
            height="auto"
        /></span>
        <span *ngIf="appService.lang == 'en'" class="m-auto"
          >{{ item.nameEnglish }}
        </span>

        <span *ngIf="appService.lang == 'ar'" class="m-auto"
          >{{ item.nameArabic }}
        </span>

        <span class="m-auto" *ngIf="appService.lang == 'ar'"
          ><img
            [src]="getIconSrc(item.icon)"
            class="m-1"
            alt=""
            width="30px"
            height="auto"
        /></span>
      </div>
    </ng-template>
  </div>

  <div class="py-3 mt-5">
    <div class="text-center h4">order food online in your area</div>
  </div>
  <div class="row mx-0">
    <div class="col-lg-3 col-md-6 mt-3 px-0 px-md-2">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 mt-3 px-0 px-md-2">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 mt-3 px-0 px-md-2">
      <shop-card></shop-card>
    </div>
    <div class="col-lg-3 col-md-6 mt-3 px-0 px-md-2">
      <shop-card></shop-card>
    </div>
  </div>
  <div class="text-center mt-5">
    <button class="btn btn-main py-2 px-4">Show All</button>
  </div>

  <div class="row my-5 arabic-dir">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
      <div class="bg-img1">
        <div
          class="text-white p-4 text-left"
          style="background-size: cover !important"
        >
          <div class="h4">Order Food Online</div>
          <p class="small">
            Use code to get 50% off upto $5<br />
            on your next order.
          </p>
          <div class="small pt-2">
            <a href="#" class="btn btn-main"
              ><span class="small"> Order Now</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
      <div class="bg-img2">
        <div
          class="text-white p-4 text-left"
          style="background-size: cover !important"
        >
          <div class="h4">Order Food Online</div>
          <p class="small">
            Use code to get 50% off upto $5<br />
            on your next order.
          </p>
          <div class="small pt-2">
            <a href="#" class="btn btn-main"
              ><span class="small"> Order Now</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1"></div>
  <div class="my-5 font-weight-bold">
    <div class="font-weight-bold h4">Featured Restaurants</div>
  </div>
  <div class="border">
    <div class="row mx-0 p-3">
      <div class="col-md-6 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-3 d-flex px-0 mt-md-0 mt-3">
        <div class="text-left text-md-center">
          <span><i class="fa fa-map-marker primary"></i></span>
          <span class="text-muted small mx-2">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-3 text-md-right px-0 mt-md-0 mt-3 text-left">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
    <hr class="m-0 p-0" />
    <!--end  row of Featured resturant -->
    <div class="row mx-0 p-3">
      <div class="col-md-6 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-3 d-flex px-0 mt-md-0 mt-3">
        <div class="text-left text-md-center">
          <span><i class="fa fa-map-marker primary"></i></span>
          <span class="text-muted small mx-2">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-3 text-md-right px-0 mt-md-0 mt-3 text-left">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
    <hr class="m-0 p-0" />

    <div class="row mx-0 p-3">
      <div class="col-md-6 px-0 row mx-0">
        <img src="../../assets/download.jpg" alt="" height="50" width="50" />
        <div class="mx-3">
          <div class=""><a href="#" class="text-dark"> Food Roster </a></div>
          <div class="mt-0 small text-muted">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="col-md-3 d-flex px-0 mt-md-0 mt-3">
        <div class="text-left text-md-center">
          <span><i class="fa fa-map-marker primary"></i></span>
          <span class="text-muted small mx-2">Reyad,saudi</span>
        </div>
      </div>
      <div class="col-md-3 text-md-right px-0 mt-md-0 mt-3 text-left">
        <a class="btn btn-main py-2 px-3" href="#">
          <span class="small"> View Menu</span></a
        >
      </div>
    </div>
  </div>
</div>
