.nav-tabs {
  background-color: rgba(248, 246, 246, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-tabs .nav-item {
  font-family: "Open Sans", sans-serif !important;
  display: block !important;
  color: #363535;
  text-align: center !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.4s;

  width: 33.33% !important;
  font-size: 19px;
  border: 1px solid #bbbbbb00;

  border-bottom: 1px solid #dddddd;
}
.nav-tabs .active {
  border: 1px solid #dddddd;
  border-bottom: none !important;
}
.nav-tabs .nav-item:hover {
  border: 1px solid #dddddd;
  border-bottom: none !important;
}
.nav-tabs .nav-item:hover a {
  color: #ffa803 !important;
}
.nav-tabs .active a {
  color: #ffa803 !important;
}
.rounded {
  border-radius: 13px !important;
}

.t-12 {
  font-size: 12px !important;
}
.icon-add:hover {
  color: #4ba318 !important;
}
ngb-rating {
  border: none !important;
  outline: none !important;
  font-size: 22px !important;
  color: #ffa803 !important;
}
@media screen and (min-width: 541px) {
  .merhantLogo img {
    max-height: 110px !important;
  }
}
@media screen and (max-width: 541px) {
  .merhantLogo img {
    max-height: 350px !important;
  }
}
.itemsContainer:hover span {
  color: #ffa803 !important;
  text-decoration: underline;
  cursor: pointer;
}
#right:hover,
#left:hover {
  color: #ffa803 !important;
}
