<div class="bg-light2">
  <div class="container">
    <div class="row mx-0 py-4 arabic-dir">
      <div class="h5 text-left my-auto">Shop Details</div>
      <div class="bread my-auto">
        Home / <span routerLink="/all-shops" class="primary">Shop Details</span>
      </div>
    </div>
  </div>
</div>
<div class="container px-0 justify-content-center arabic-dir">
  <div class="row mx-0 mt-4 px-2">
    <div class="p-2 p-md-3 mb-5 bg-white mx-0 col-lg-8 border">
      <div class="row mx-0">
        <div class="col-md-6 row mx-0 p-0">
          <div class="mx-0 merhantLogo">
            <img
              [src]="getSource(merchant.logo)"
              alt="image"
              height="100%"
              width="100"
              class="border p-1"
            />
          </div>
          <div class="text-left float-left px-3">
            <h5 *ngIf="appService.lang === 'en'" class="t-14 font-weight-bold">
              {{ merchant.titleEnglish }}
            </h5>
            <h5 *ngIf="appService.lang == 'ar'" class="t-14">
              {{ merchant.titleArabic }}
            </h5>
            <div>
              <i class="fa fa-map-marker primary"></i>
              <span class="mx-1"> rayad , jadah</span>
            </div>
            <div
              *ngIf="appService.lang == 'en'"
              class="text-muted t-14 mb-0 mt-2"
            >
              {{ merchant.tag.nameEnglish }}
            </div>
            <div
              *ngIf="appService.lang == 'ar'"
              class="text-muted t-14 mb-0 mt-2"
            >
              {{ merchant.tag.nameArabic }}
            </div>
          </div>
        </div>
        <div class="col-md-6 w-100 mt-3 mt-lg-0">
          <div class="row mx-0 px-0">
            <div class="text-success t-14 text-left my-auto">
              <i class="fa fa-circle mx-1" aria-hidden="true"></i>

              <span *ngIf="appService.lang == 'en'">
                {{ getStatusEnglish(merchant.merchantStatus) }}</span
              >
              <span *ngIf="appService.lang == 'ar'">
                {{ getStatusArabic(merchant.merchantStatus) }}</span
              >
            </div>
            <div class="ml-auto text-right d-flex">
              <ngb-rating
                [max]="5"
                class="mx-2 my-auto ml-auto"
                [(rate)]="currentRate"
                [readonly]="true"
              ></ngb-rating>
              <span class="bg-primary rounded-lg p-1 my-auto small ml-auto">
                4.5/5</span
              >
            </div>
          </div>
        </div>
      </div>

      <hr />
      <p *ngIf="appService.lang == 'en'" class="text-muted t-14 mb-0">
        {{ merchant.descriptionEnglish }}
      </p>
      <p *ngIf="appService.lang == 'ar'" class="text-muted t-14 mb-0">
        {{ merchant.descriptionArabic }}
      </p>
      <hr />
      <ul class="nav nav-tabs border-bottom-0 mb-0">
        <li
          class="nav-item py-3"
          (click)="showMenu()"
          [ngClass]="{ active: showMenuDiv === true }"
        >
          <a class="t-media-14 text-dark"> {{ "BAZZAR.MENU" | translate }}</a>
        </li>
        <li
          class="nav-item py-3"
          (click)="showReviews()"
          [ngClass]="{ active: showReviewsDiv === true }"
        >
          <a class="t-media-14 text-dark">
            {{ "BAZZAR.REVIEWS" | translate }}
          </a>
        </li>
        <li
          class="nav-item py-3"
          (click)="showInfo()"
          [ngClass]="{ active: showInfoDiv === true }"
        >
          <a class="t-media-14 text-dark">
            {{ "BAZZAR.INFO" | translate }}
          </a>
        </li>
      </ul>
      <div class="row mx-0 px-0 border border-top-0 mt-0">
        <div *ngIf="showMenuDiv == true" class="mx-0 px-1 w-100">
          <div class="w-100 mt-5 pb-5">
            <div
              ng2-carouselamos
              class="slides-wrapper d-md-none d-block"
              [items]="categories"
              [$prev]="prev"
              [width]="300"
              [$next]="next"
              [$item]="item"
            ></div>
            <div
              ng2-carouselamos
              class="slides-wrapper d-md-block d-none d-lg-none"
              [items]="categories"
              [$prev]="prev"
              [width]="660"
              [$next]="next"
              [$item]="item"
            ></div>
            <div
              ng2-carouselamos
              class="slides-wrapper d-lg-block d-none"
              [items]="categories"
              [$prev]="prev"
              [width]="560"
              [$next]="next"
              [$item]="item"
            ></div>
            <ng-template #prev class="text-left pl-0 ml-0">
              <i class="fa fa-chevron-left" aria-hidden="true" id="left"></i>
            </ng-template>
            <ng-template #next class="text-right ml-auto mr-0">
              <i class="fa fa-chevron-right" aria-hidden="true" id="right"></i>
            </ng-template>
            <ng-template
              #item
              let-item
              let-i="index"
              class="justify-content-center"
            >
              <div
                class="item mx-md-4 mx-3 px-2 d-flex itemsContainer font-weight-600 text-muted"
              >
                <span *ngIf="appService.lang == 'en'" class="m-auto"
                  >{{ item.titleEnglish }}
                </span>

                <span *ngIf="appService.lang == 'ar'" class="m-auto"
                  >{{ item.titleArabic }}
                </span>
              </div>
            </ng-template>
          </div>

          <div
            *ngFor="let category of categories"
            class="tab-pane show"
            [id]="category.id"
            role="tabpanel"
            class="w-100 p-md-3 p-2"
          >
            <div class="text-left row mx-0">
              <span *ngIf="appService.lang == 'en'">{{
                category.titleEnglish
              }}</span>
              <span *ngIf="appService.lang == 'ar'">{{
                category.titleArabic
              }}</span>
            </div>
            <div class="col-lg-6 px-0">
              <div
                *ngFor="let product of category.products"
                class="productAnimation"
              >
                <div class="mx-0 mt-3 px-0 border w-100 row mx-0">
                  <div class="pl-0 mx-0 col-lg-3 col-3">
                    <img
                      [src]="getSource(product.image)"
                      alt="image"
                      height="80"
                      width="100%"
                      class=""
                    />
                  </div>
                  <div class="text-left col-lg-7 col-7 mx-0 px-0 my-auto py-2">
                    <span
                      *ngIf="appService.lang == 'en'"
                      class="font-weight-600"
                      >{{ product.titleEnglish }}</span
                    >
                    <span
                      *ngIf="appService.lang == 'ar'"
                      class="font-weight-600"
                      >{{ product.titleArabic }}</span
                    >
                    <div class="py-1"></div>
                    <span
                      >{{ product.price | number: ".2" }}
                      <span class="small">{{ "BAZZAR.SAR" | translate }}</span>
                    </span>
                  </div>

                  <div
                    class="col-lg-2 col-2 text-right text-left-ar mx-0 px-2 my-auto"
                  >
                    <i
                      class="fa fa-plus-circle text-success fa-20 icon-add mt-1"
                      (click)="openDialogAddProduct(product)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showReviewsDiv == true" class="col-12 p-2 text-left">
          <div class="h6 mt-4">{{ "BAZZAR.REVIEWS" | translate }}</div>
          <div
            *ngIf="ratings.length == 0"
            class="text-center alert small m-2 font-weight-600"
          >
            {{ "BAZZAR.NO_RATINGS_YET" | translate }}
          </div>
          <div
            *ngFor="let review of ratings"
            class="row bg-light border mx-0 rounded-sm p-2 my-3"
          >
            <div class="col-6 col-md-3 pl-0 text-left">
              <ngb-rating
                [max]="5"
                [(rate)]="review.rate"
                [readonly]="true"
              ></ngb-rating>
            </div>

            <div
              class="col-md-6 small text-muted text-left d-none d-md-block my-auto"
            >
              {{ review.user.username }}
            </div>
            <div class="col-md-3 col-6 small my-auto text-right text-muted">
              {{ review.createdOn | date }}
            </div>

            <div
              class="row mx-0 d-block d-md-none my-auto small text-muted text-left"
            >
              {{ review.user.username }}
            </div>
            <div class="small font-weight-bold pb-3 pt-2 row mx-0">
              {{ review.comment }}
            </div>
          </div>
        </div>
        <div *ngIf="showInfoDiv == true" class="col-12">
          <p class="font-weight-600 h6 mt-4 mb-4 text-left">
            <span *ngIf="appService.lang == 'en'">
              {{ merchant.titleEnglish }}
            </span>
            <span *ngIf="appService.lang == 'ar'">
              {{ merchant.titleArabic }}
            </span>
          </p>
          <hr class="w-100" />
          <div class="row mx-0">
            <div
              class="col-md-3 text-dark text-left px-0 font-weight-600 font-14px my-auto"
            >
              {{ "BAZZAR.DESCRIPTION" | translate }}
            </div>
            <div class="col-md-9 text-left px-0 font-14px mt-3 mt-md-0">
              <span *ngIf="appService.lang == 'en'">{{
                merchant.descriptionEnglish
              }}</span
              ><span *ngIf="appService.lang == 'ar'">{{
                merchant.descriptionArabic
              }}</span>
            </div>
          </div>
          <hr />
          <div class="row mx-0">
            <div
              class="col-md-3 text-dark text-left px-0 font-weight-600 font-14px"
            >
              {{ "BAZZAR.RATING" | translate }}
            </div>
            <div class="col-md-9 text-left px-0 font-14px mt-3 mt-md-0">
              <img
                src="../../assets/smile.png"
                alt="image"
                height="20"
                class="mx-1"
              />
              <span *ngIf="appService.lang == 'en'">{{
                ratings_en[totalRatings]
              }}</span
              ><span *ngIf="appService.lang == 'ar'">{{
                ratings_ar[totalRatings]
              }}</span>
            </div>
          </div>
          <hr />
          <div class="row mx-0 mb-4">
            <div
              class="col-md-3 text-dark text-left px-0 font-weight-600 font-14px"
            >
              {{ "BAZZAR.PAYMENT" | translate }}
            </div>
            <div class="col-md-9 text-left px-0 font-14px mt-3 mt-md-0">
              <img
                src="../../assets/cash-icon.svg"
                alt="image"
                height="20"
                class="mx-1"
              />
              {{ "BAZZAR.CASH" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        userSession.shoppingCart.items.length == 0 ||
        userSession.shoppingCart.merchant == null
      "
      class="col-lg-4 mx-0 px-2"
    >
      <div class="card sticky-top p-0 mb-5" style="z-index: 1">
        <div class="card-header bg-primary m-0 text-left h5">
          {{ "BAZZAR.YOUR_CART" | translate }}
        </div>
        <div class="card-body text-center bg-light">
          <img
            src="../../assets/empty-cart.svg"
            alt="image"
            height="100"
            width="100%"
          />
          <div class="mt-2"></div>
          <small class="font-weight-600">{{
            "BAZZAR.NO_ITEMS" | translate
          }}</small>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        userSession.shoppingCart.items.length != 0 &&
        userSession.shoppingCart.merchant != null
      "
      class="col-lg-4 mx-0 px-2"
    >
      <div class="card sticky-top p-0 mb-5" style="z-index: 1">
        <div class="card-header bg-primary m-0 h5 text-left">
          {{ "BAZZAR.YOUR_CART" | translate }}
        </div>
        <p class="p-2 mb-0" *ngIf="appService.lang == 'en'">
          {{ userSession.shoppingCart.merchant.titleEnglish }}
        </p>
        <p class="p-2 mb-0 text-right" *ngIf="appService.lang == 'ar'">
          {{ userSession.shoppingCart.merchant.titleArabic }}
        </p>
        <hr class="m-0" />
        <div
          *ngFor="let item of userSession.shoppingCart.items"
          class="text-left bg-light small row mx-0 p-2"
        >
          <div
            class="border bg-white text-left small my-auto"
            style="height: fit-content"
            dir="ltr"
          >
            <i
              class="fa fa-plus text-primary border-right px-1 py-2"
              (click)="increaseItemInCart(item.product.id)"
            ></i>
            <span class="p-2"> {{ item.count }} </span>
            <i
              class="fa fa-minus text-primary border-left py-2 px-1"
              (click)="decreaseItemInCart(item.product.id, item.count)"
            ></i>
          </div>
          <div class="col-6 my-auto">
            <span *ngIf="appService.lang == 'en'" class="t-12">{{
              item.product.titleEnglish
            }}</span>
            <span *ngIf="appService.lang == 'ar'" class="t-12">{{
              item.product.titleArabic
            }}</span>
          </div>
          <div class="col-2 my-auto">
            <span class="font-weight-600 text-muted">{{
              item.product.price
            }}</span>
          </div>
          <div class="col-1 my-auto">
            <small
              class="font-weight-600 text-muted"
              (click)="removeItemFromCart(item.product.id)"
              ><i class="fa fa-minus-circle"></i
            ></small>
          </div>
        </div>
        <hr class="m-0" />
        <div class="p-3 filled_cart">
          <div class="row">
            <div class="col-6 text-left">
              <small class="text-muted">
                {{ "BAZZAR.SUBTOTAL" | translate }}
              </small>
            </div>
            <div class="col-6 text-right">
              <small class="text-muted"
                >{{ getTotal() | number: ".2" }}
                {{ "BAZZAR.SAR" | translate }}
              </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-left">
              <small class="text-muted">
                {{ "BAZZAR.SERVICE_CHARGE" | translate }}
              </small>
            </div>
            <div class="col-6 text-right">
              <small class="text-muted"
                >2.00 {{ "BAZZAR.SAR" | translate }}
              </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-left">
              <small class="text-muted">
                {{ "BAZZAR.SALES_TAX" | translate }}
              </small>
            </div>
            <div class="col-6 text-right">
              <small class="text-muted"
                >{{ getTax() | number: ".2" }}
                {{ "BAZZAR.SAR" | translate }}
              </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-left">
              <small class="font-weight-600 text-13px">
                {{ "BAZZAR.TOTAL_AMOUNT" | translate }}
              </small>
            </div>
            <div class="col-6 text-right">
              <small class="text-13px font-weight-bold"
                >{{ getTotal() + getTax() + 2.0 | number: ".2" }}
                {{ "BAZZAR.SAR" | translate }}
              </small>
            </div>
          </div>
          <hr />
          <a class="btn btn-success w-100 text-13px" routerLink="/checkout">
            {{ "BAZZAR.PROCEED_TO_CHECKOUT" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
