<top-part></top-part>
<div class="container my-5 py-5">
  <div class="row mx-0 arabic-dir">
    <div class="col-md-3 border px-0 rounded h-100">
      <side-nav></side-nav>
    </div>
    <div class="col-md-9 mr-auto mt-5 mt-md-0 px-0 px-md-4">
      <div class="h5 mb-3 text-left">
        {{ "BAZZAR.ACCOUNT_INFORMATION" | translate }}
      </div>
      <div class="border px-md-4 p-3 rounded">
        <form [formGroup]="changeMobileForm">
          <div class="form-group mt-4">
            <label> {{ "BAZZAR.USERNAME" | translate }} </label>
            <input
              type="text"
              class="form-control"
              disabled
              formControlName="username"
            />
          </div>
          <div class="form-group">
            <label> {{ "BAZZAR.EMAIL" | translate }} </label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              disabled
            />
          </div>
          <div class="form-group mt-4">
            <label> {{ "BAZZAR.MOBILE_NUMBER" | translate }} </label>
            <input
              type="text"
              required
              maxlength="15"
              minlength="10"
              class="form-control"
              formControlName="phone"
              pattern="[0-9]+"
            />
            <mat-error
              *ngIf="
                changeMobileForm.controls.phone.errors?.required &&
                changeMobileForm.controls.phone.touched
              "
              >{{ "BAZZAR.REQUIRED" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changeMobileForm.controls.phone.hasError('pattern')"
            >
              {{ "BAZZAR.PHONE_PATTERN" | translate }}
            </mat-error>
            <mat-error
              *ngIf="changeMobileForm.controls.phone.hasError('minlength')"
            >
              {{ "BAZZAR.PHONE_LENGTH" | translate }}
            </mat-error>
          </div>

          <div class="form-group text-left mt-4">
            <button
              class="btn btn-main py-2 px-3"
              (click)="updateUsernameAndMobile()"
            >
              <small> {{ "BAZZAR.SAVE_CHANGES" | translate }}</small>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
